
body {
    background: #000 url(../images/body.png);
}

.uibox {
    border: none;
}

.googie_list td span,
ul.toolbarmenu li a {
    color: #666 !important;
}

ul.toolbarmenu li a.icon,
.googie_list td span,
ul.toolbarmenu li a.active {
    color: #eee !important;
}

/* layout */

#mainscreen {
    top: 82px;
}

#mainscreencontent {
    top: 52px;
}

#toplogo {
    padding-top: 0;
    margin-top: -5px;
}

#topline,
.minimal #topline {
    background: #0f1012;
    color: #ccc;
    font-size: 11px !important;
}

#topline a,
.minimal #topline a {
    color: #ccc !important;
}

#topnav {
    background: transparent;
    padding-top: 10px;
}

#taskbar {
    margin-top: 3px;
}

.minimal #taskbar a,
#taskbar a {
    height: auto;
}

#taskbar a {
    padding: 5px 12px 5px 12px !important;
    border-radius: 10px !important;
}

#taskbar span.tooltip {
    margin-top: -7px;
}

#taskbar a,
#taskbar a span,
#taskbar .minmodetoggle,
#taskbar a:before {
    color: #ccc !important;
}

#taskbar a:hover,
#taskbar a:focus {
    background-color: #000;
}

#taskbar a.button-selected {
    background-color: #000;
}

#taskbar a.button-selected span.button-inner {
    text-decoration: none;
}

#taskbar .minmodetoggle {
    padding-top: 10px !important;
}

#topline a.button-logout {
    background-image: none;
}

#apps-menu {
    a.app-item > div.icon,
    a.app-item > div.title {
        color: #ccc !important;
    }
}

#toolbar-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #ddd;
    border-radius: 5px !important;
    z-index: -1;
}

.offset #toolbar-bg {
    top: -42px;
}

.toolbar {
    padding-top: 12px;
    padding-left: 10px;
}

.toolbar a.button {
    background-color: #404040 !important;
    background-image: none;
    padding: 0;
    min-width: 0;
    height: 28px !important;
    width: 34px !important;
    border-radius: 5px !important;
    color: #fff;
    font-size: 8px;
}

.toolbar a.button:before {
    display: block;
    margin-bottom: 20px;
}

#xcalendar-toolbar.toolbar a:before {
  padding-top: 8px;
}

.dropbutton a.dropbuttontip {
    color: #eee;
}

.dropbutton .dropbuttontip:before {
    font-size: 12px;
}

#mainscreen .toolbar a.button:hover {
    background-color: #eee !important;
}

.toolbar a.button:before {
    padding-top: 6px;
    padding-bottom: 100px;
    font-size: 16px;
}

.toolbar a.button:before
.toolbar span.dropbuttontip:before {
    color: #eee;
}

.toolbar span.dropbutton a.button {
    min-width: 48px;
    text-align: left;
}

.toolbar span.dropbutton a.button:before {
    position: relative;
    left: -5px;
}

.xsidebar-wrap #searchfilter {
    right: 280px;
}


#quicksearchbar,
#searchfilter {
     top: 7px;
}

#quicksearchbar {
    right: 10px;
}

#quicksearchbox,
#searchfilter a {
    border-radius: 5px !important;
}

#quicksearchbar a {
    color: #aaa;
}

#messagessearchfilter {
    margin-right: 0;
}

.splitter {
    background-image: none;
}

.popupmenu,
#rcmKSearchpane {
    border: 1px solid #191b1f !important;
    background: #3E3F40;
    padding: 5px;
    border-radius: 3px !important;
}

.popupmenu li,
.popupmenu label,
.popupmenu a {
    border: none !important;
    background-image: none !important;
}

.uibox .boxtitle,
.uibox .listing thead td,
.uibox .listing thead th {
    background: transparent;
    color: #333;
}

.boxpagenav a.icon {
    color: #333;
    text-decoration: none;
}

#mailview-top,
.uibox {
    border-radius: 5px !important;
}

.listbox {
    background: #fff;
}

ul.listing li {
    background-color: transparent;
}

#searchmenulink {
    color: #aaa;
}

#searchreset {
    height: 14px;
    top: 7px !important;
}

/* message list */

#mailview-top {
    border: none;
}

.records-table thead td,
.records-table thead th {
    background-color: #ddd;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.records-table thead td a,
.records-table thead th a,
.records-table thead td span,
.records-table thead th span,
.records-table thead tr td.sortedASC a,
.records-table thead tr th.sortedASC a,
.records-table thead tr td.sortedDESC a,
.records-table thead tr th.sortedDESC a {
    color: #333 !important;
}

.records-table tr.selected td,
.records-table tr.unfocused td {
    background: #eee !important;
}

#messagelist tr.flagged td,
#messagelist tr.flagged td span {
    color: #f30 !important;
}

#messagelistfooter {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background: #eee !important;
}

#messagelistfooter a {
    color: #333;
}

/* folder list */

#mailboxcontainer {
    background: #0f1012;
    color: #ccc;
    border-radius: 5px !important;
}

#folderlist-content {
    border-radius: 5px !important;
}

#mailboxcontainer ul#mailboxlist a:focus {
    color: #fff !important;
}

#mailboxlist .treetoggle {
    top: 13px !important;
}

#mailboxlist li {
    background: #0f1012;
}

#mailboxlist li a,
#mailboxlist li div:before,
.boxfooter .countdisplay,
#mailboxlist li.mailbox .unreadcount {
    color: #ccc;
}

#mailboxlist li.selected > a {
    background: #3e3f40;
    color: #fff;
}

#mailboxlist li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

#folderlist-footer {
    border: none;
}

#mailboxlist .listitem,
#mailboxlist .tablink,
#mailboxlist tbody td,
#mailboxlist li,
#mailboxlist li.mailbox ul {
    border-color: #404040;
}

#mailboxlist .mailbox a:before {
    padding-right: 10px;
}

div.expanded,
div.collapsed {
    top: 10px !important;
}

#mailboxlist li.mailbox .unreadcount {
    top: 8px;
}

body.xlarry-font-icons #mailboxlist li.mailbox .unreadcount {
    color: #fff;
}

#mailboxmenulink:before {
    color: #A8A8A8 !important;
}

#mailboxmenulink {
    padding-top: 11px;
}

#quotadisplay {
    color: #A8A8A8;
}

#folder-selector li a span {
    background-image: none;
}

/* plugins */

button.new-calendar {
    padding-top: 2px !important;
}

.calendar-page #messagetoolbar {
    margin-top: 5px;
    padding-top: 5px;
    right: 15px;
    background: #ddd;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    height: 31px;
}

#calquicksearchbar {
    background-color: #fff;
    border-radius: 5px !important;
    right: 25px;
    z-index: 11;
    margin-top: 5px;
}

#calsearchfilter {
    border: none !important;
}

#calsearchreset {
    top: 2px;
}

#today-title {
    border: none;
}

#today-title a {
    color: #fff;
}

#upcoming-container {
    color: #ccc;
}

#upcoming-content {
    background: #16181b;
}

#calendaroverlay {
    background: #16181b url(../images/calendar-overlay.gif) no-repeat center center;
}

.fc-header-title h2 {
    color: #fff;
}

#calendar .fc-button-inner,
.calendarmain .fc-header-left .fc-button-content {
    color: #eee !important;
}

#notes a#reassembleButton,
#notes a#addButton {
    background: #eee;
}

#notes a#reassembleButton:hover,
#notes a#addButton:hover {
    background: #fff !important;
}

#planner_controls_container,
#filter_bar {
    color: #fff;
}

ul#planner_controls li {
    background: transparent;
}

ul#planner_controls li a {
    border-radius: 5px !important;
    color: #fff;
}

#summary {
    background: #fff;
}

.toolbar a.button.spellcheck.selected {
    color: #333;
    background-color: #ddd !important;
}

body.xskin #calendar-list-container h2.boxtitle button.new-calendar:hover,
body.xskin #calendar-grid button.fc-button:hover {
    background: transparent !important;
}

/*.googie_list td, ul.toolbarmenu li,
#rcmKSearchpane ul li {
    color: #ccc;
}*/

.googie_list td {
    padding: 0;
    border: none;
}

.googie_list td.googie_list_onhover {
    background: none;
}

.googie_list form {
    padding: 6px !important;
}

/* xsidebar */

#xsidebar {
    top: 52px;
}

#xsidebar-button {
    color: #fff;
    margin-top: 9px;
    margin-right: 4px;
}

/* xcalendar */

.xcalendar .ui-datepicker .ui-datepicker-header {
    background: #ddd;
}

.xcalendar .ui-datepicker .ui-datepicker-month,
.xcalendar .ui-datepicker .ui-datepicker-year,
.xcalendar .ui-datepicker .ui-datepicker-prev,
.xcalendar .ui-datepicker .ui-datepicker-next,
.xcalendar .fc-state-default,
.xcalendar .boxtitle button {
    color: #333 !important;
    text-shadow: none;
}

.xcalendar .toolbar a.button:before {
    color: #fff;
}

.xcalendar .toolbar a.button:hover:before {
  //  color: #333;
}

/* xbackground */

body.xskin.xbg {

    legend,
    table.propform td.title,
    .listbox .listitem a,
    .listbox .tablink a,
    .listing tbody td, .listing li a,
    &.xlarry-font-icons #mailboxlist li.mailbox .unreadcount {
        color: #333 !important;
    }

    #mailboxlist li {
        background: transparent;
    }

    #topnav{
        background: #0F1012;
        padding-top: 5px;
    }

    #quicksearchbar a,
    a.menuselector {
        color: #fff !important;
    }
}

/* plugin: xai */

#xai-dropdown-menu li a:before {
    display: none;
}

/* plugin: ident_switch */

#plugin-ident_switch-account {
    margin-top: 9px !important;
    background: transparent;
    border: none;
    color: #ccc;
    font-size: 110%;
    float: left;

    option {
        color: #333;
    }
}