<?php

// Specifies the webdav service provider. Currently only 'nextcloud' is supported.
// Default value: 'nextcloud'
$config['xwebdav_provider'] = "nextcloud";

// Specifies the base url of the WebDAV server. The value you specify here will become the default value on the WebDAV settings page.
// If you leave this value empty, the plugin will be disabled until each user specifies his or her own URL. The placeholder %username will
// be replaced with the Roundcube username of the currently logged in user.
// Example: 'https://url-of-nextcloud-server.com/remote.php/dav/files/%username'
// Default value: ''
$config['xwebdav_url'] = '';

// Specifies the base url of OCS shared folder. The value you specify here will become the default value on the WebDAV settings page.
// Specifying this value will enable the "Insert link to message" functionality on the compose page. This functionality places links
// to files into the composed message, which means that the files must be shared and accessible via a public URL (without login.)
// If you leave this value empty, the "Insert link to message" functionality will be disabled until each individual user fills
// the shared url option in his or her account.
// Example: 'https://url-of-nextcloud-server.com/ocs/v2.php/apps/files_sharing/api/v1/shares'
// Default value: ''
$config['xwebdav_shared_url'] = '';

// Specifies the authentication type used by the WebDAV server. The value you specify here will become the default value on the WebDAV
// settings page.
// Available values: 'BASIC', 'DIGEST', 'NTLM', 'NONE'
// Default value: 'BASIC'
$config['xwebdav_auth'] = 'BASIC';

// Specifies the WebDAV server connection timeout in seconds. Note that some servers will throttle or suspend the login after multiple
// invalid login attempts. This will result in timeout errors that are indistinguishable from the server being off-line.
// Default value: 10
$config['xwebdav_timeout'] = 10;
