
.uibox {
    border: 1px solid #ddd;
    border-radius: 5px !important;
}

input,
a.menuselector {
    border-radius: 5px !important;
}

a.iconbutton:before {
    color: #999 !important;
}

.listbox,
ul.listing li {
    background-color: #fff;
}

// fix cut text on firefox
.headers-table.compose-headers textarea {
    height: 1.4em !important;
}

/* layout */

#messagelistfooter {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

#mailboxcontainer {
    background-color: #ddd;
}

#mailboxcontainer #folderlist-content,
#mailboxcontainer .scroller {
    top: 27px;
    background-color: #fff;
}

#messagelistfooter,
#mailboxcontainer #folderlist-footer {
    background-color: #fff;
}

.moreheaderstoggle {
    background-color: #fff;
}

#composeheaders .moreheaderstoggle {
    border-right: 1px solid #ddd;
}

#composebuttons {
    top: 10px;
    right: 12px;
}

#composeview-right .editfield a.iconlink.edit {
    background-position: -7px -414px;
}

.iframebox {
    border: none;
}

.records-table thead td:first-child {
    border-top-left-radius: 5px !important;
}

.records-table thead td:last-child {
    border-top-right-radius: 5px !important;
}

.records-table tbody tr.selected.focused>td:first-child {
    border-color: transparent;
}

#messagelistfooter a:before,
#mailboxmenulink:before {
    color: #888 !important;
}

.boxpagenav {
    top: 10px;
}

.boxpagenav a {
    text-decoration: none;
}

#vertical-preview {
    border: 1px solid #ddd;
}

#vertical-preview,
#vertical-preview iframe {
    border-radius: 5px !important;
}

#mailpreviewtoggle {
    /* let's make sure it covers the controls underneath */
    background: #FFF;
}

/* top navigation */

#topnav {
    overflow: hidden;
}

#topnav #taskbar a {
    height: auto;
    padding: 6px 12px 0 12px;
    margin-top: 10px;
    margin-right: 5px;
    height: 30px;
    font-size: 13px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.minimal #topnav #taskbar a {
    padding-top: 5px;
    height: 27px;
}

.minimal #taskbar a:hover .tooltip {
    top: 34px;
    padding: 2px;
    font-size: 0.8em;
}

#topnav #taskbar a.button-selected,
#topnav #taskbar a.button-selected:hover {
    background: #fff !important;
    height: 34px;
}

#topnav #taskbar a.button-selected span,
#topnav #taskbar a.button-selected:before {
    color: #333 !important;
}

.toolbar .dropbutton a.button {
    min-width: 55px !important;
}

#messageheader {
    border: none;
    border-bottom: 1px solid #ddd;
}

.uibox .boxtitle,
.uibox .listing thead td,
.uibox .listing thead th {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.contentbox .boxtitle,
body.iframe .boxtitle,
.contactfieldgroup legend {
    color: #fff;
    background-color: #bababa;
}

body.xlarry-font-icons #taskbar .minmodetoggle {
    padding-top: 18px;
}

.button-interface-options:before {
    top: 2px;
}

#interface-options {
    color: #333;
}

.toolbar a.button:before {
    font-size: 20px !important;
}

table.quota-info td,
table.quota-info th {
    color: #333;
}

/* other */

#messagelistfooter a {
    color: #333;
}

#upcoming-content,
#calendaroverlay {
    background-color: #fff;
    left: 11px;
}

#planner_controls a {
    border-radius: 5px !important;
}

/* other */

#ifplcontainer {
    text-align: left;
}

#login-form .box-inner form #ifplcontainer label {
    text-transform: none;
}

.googie_list td span, ul.toolbarmenu li a.active {
    color: #000;
}

.googie_list td {
    padding: 0;
    border: none;
    border-bottom: 1px solid #ddd;
}

.googie_list td.googie_list_onhover {
    background: #E9E9E9;
}

.googie_list form {
    padding: 6px !important;
}

.googie_list form img {
    background: #6b6b6b;
    padding: 1px 3px 2px 3px;
    float: right;
}

.toolbar a.button.spellcheck.selected {
    border-radius: 5px !important;
}

/* xsidebar */

#xsidebar .boxtitle {
    border-radius: 0 !important;
}

/* xcalendar */

.xcalendar .ui-datepicker .ui-datepicker-header {
    background: #666666;
}

.xcalendar .ui-datepicker .ui-datepicker-month,
.xcalendar .ui-datepicker .ui-datepicker-year,
.xcalendar .ui-datepicker .ui-datepicker-prev,
.xcalendar .ui-datepicker .ui-datepicker-next,
.xcalendar .fc-state-default,
.xcalendar .boxtitle button {
    color: #fff !important;
    text-shadow: none;
}

body.xskin #calendar-list-container h2.boxtitle button.new-calendar:hover,
body.xskin #calendar-grid button.fc-button:hover {
    background: transparent !important;
}

/* xbackground */

body.xskin.xbg {

    #mailboxcontainer #folderlist-content,
    #mailboxcontainer .scroller {
        top: 0 !important;
        background: transparent;
    }

    #messagelistfooter,
    #mailboxcontainer #folderlist-footer {
        background: transparent;
    }
}

/* xsidebar */

#xsidebar .boxtitle :before {
    color: #fff;
}

/* plugin: ident_switch */

#plugin-ident_switch-account {
    border: none;
    margin-top: 18px !important;
    background: transparent;
    color: #fff !important;
    font-size: 110%;
    float: left;

    option {
        color: #333;
    }
}