<?php
/**
 * Roundcube Plus AI plugin.
 *
 * Copyright 2023, Roundcubeplus.com.
 *
 * @license Commercial. See the LICENSE file for details.
 */

#########################################
# API options
#########################################

// The AI service provider.
// Available options: 'openai', 'ollama'
// Default: 'openai'
$config['xai_provider'] = 'openai';

// The timeout for API operations (in seconds)
// Available options: between 1 and 200
// Default: 90
$config['xai_api_timeout'] = 90;

#########################################
# Enabled functionality
#########################################

// Enables the functionality of generating email messages using AI on the compose page.
// Available options: true, false
// Default: true
$config['xai_enable_message_generation'] = true;

// Enables the functionality for generating AI summaries for viewed emails. If the user enables the 'Show summaries when
// viewing emails' option in Roundcube settings, summaries will be generated and displayed immediately when an email is
// viewed. If the user does not enable this option, summaries will only be generated and displayed when the user clicks
// the 'Show summary' link displayed above the message. The generated summaries will be stored in the database in an
// encrypted format and reused without requiring repeated connections to the provider API. Note that enabling this
// functionality may increase API costs.
// Available options: true, false
// Default: false
$config['xai_enable_view_summaries'] = false;

// Enables the functionality for generating AI summaries in the background for all emails displayed in the list on the
// mail page. The summaries will appear as popups when the user hovers over an email in the list, provided that the
// 'Show summaries when hovering over the email list' option is enabled in Roundcube settings. The generated summaries
// will be stored in the database in an encrypted format and reused without requiring repeated connections to the
// provider API. Note that enabling this functionality may significantly increase API costs.
// Available options: true, false
// Default: false
$config['xai_enable_list_summaries'] = false;

#########################################
# Email summarizing options
#########################################

// Prompt to use when generating message summaries. See README for details.
// Available options: null or string.
// Default: null.
$config['xai_summary_prompt'] = null;

// The default value for the 'Show summaries when viewing emails' option in the user settings. If the user enables this
// option, summaries will be generated and displayed immediately when an email is viewed. Otherwise, summaries will only
// be generated and displayed when the user clicks the 'Show summary' link displayed above the email. This setting is
// only available if 'xai_enable_view_summaries' is set to true.
// Available options: true, false
// Default: false
$config['xai_show_summary_on_mail_view'] = false;

// The default value for the 'Show summaries when hovering over the email list' option in the user settings. If the user
// enables this option, summaries will be generated for all emails in the list on the mail page, and the user will be
// able to view the summaries by hovering over the messages. This setting is only available if
// 'xai_enable_list_summaries' is set to true.
// Available options: true, false
// Default: false
$config['xai_show_summary_on_list_hover'] = false;

// The default value for the 'List summary popup placement' option in the user settings. Controls the position of the
// summary popup that will be shown when the user hovers over the messages in the message list on the mail page.
// Available options: 'above', 'below', 'left', 'right'
// Default: 'above'
$config['xai_list_summary_placement'] = 'above';

#########################################
# Email composition options
#########################################

// Prompt to use when generating messages on the compose page. See README for details.
// Available options: null or string.
// Default: null.
$config['xai_compose_prompt'] = null;

// The default tone of the generated email text. The users will be able to modify this option in the settings.
// Available options: 'assertive', 'casual', 'enthusiastic', 'funny', 'informational', 'professional', 'urgent', 'witty'
// Default: 'professional'
$config['xai_compose_style'] = 'professional';

// The default length of the generated email text.  The users will be able to modify this option in the settings.
// Available options: 'short', 'medium', 'long'
// Default: 'medium'
$config['xai_compose_length'] = 'medium';

// The degree of creativity used by the language model to create the email. Higher creativity will generate more
// unpredictable and diverse output. The users will be able to modify this option in the settings.
// Available options: 'low', 'medium', 'high'
// Default: 'medium'
$config['xai_compose_creativity'] = 'medium';

// Maximum characters allowed in the compose email instructions submitted by the user.
// Available options: 100 or more
// Default: 500
$config['xai_compose_max_input_chars'] = 500;

// Maximum tokens allowed per compose email request.
// Available options: 500 or more
// Default: 2000
$config['xai_compose_max_tokens'] = 2000;

#########################################
# Provider: OpenAI
#########################################

// The OpenAI API key.
// Available options: string
// Default: null
$config['xai_openai_api_key'] = null;

// The OpenAI model to use.
// Available options: string [see OpenAI documentation]
// Default: null
$config['xai_openai_model'] = null;

#########################################
# Provider Ollama
#########################################

// Ollama API URL.
// Available options: string
// Default: null
$config['xai_ollama_url'] = null;

// The Ollama model to use.
// Available options: string [see Ollama documentation]
// Default: null
$config['xai_ollama_model'] = null;

