<?php
/**
 * Roundcube Plus Weather plugin.
 *
 * Copyright 2016, Tecorama LLC.
 *
 * @license Commercial. See the LICENSE file for details.
 */

// The Weather plugin uses the OpenWeatherMap API to retrieve the weather data. In order to get the Open
// Weather Map data, you need to provide the API key. To get the key you need to create an account at
// http://openweathermap.org/appid
$config['xweather_open_weather_map_key'] = "";

// The OpenWeatherMap API has a per-minute and per-day call limit. To minimize the amount of calls made, the plugin
// uses a per-user caching system. Specify how many minutes the weather data should be cached for. To disable the
// cache, set this variable to false.
// Default: 15
$config['xweather_cache_minutes'] = 15;

// Specify how often the weather data shown on the sidebar should be auto-refreshed (in minutes.) If you want to disable
// auto-refresh, set this variable to false. If the cache is enabled, this value should be equal or larger than the
// cache value, otherwise the auto-refresh will simply load the same cached data.
// Default: 15
$config['xweather_refresh_minutes'] = 15;

// Specify the default weather location country code. The user will be able to change this value in his or her weather
// settings. The value should contain a two-letter country code.
// Default: "US"
$config['xweather_country_code'] = "US";

// Specify the default weather location city. The user will be able to change this value in his or her weather settings.
// Default: "New York"
$config['xweather_city'] = "New York";

// Use this setting to specify the default latitude of the location for which you want to get the weather data. If this
// setting is specified, it will take precedence over the country code and city settings. The user will be able to
// change this value in his or her weather settings.
// Default: null
$config['xweather_latitude'] = null;

// Use this setting to specify the default longitude of the location for which you want to get the weather data. If this
// setting is specified, it will take precedence over the country code and city settings. The user will be able to
// change this value in his or her weather settings.
// Default: null
$config['xweather_longitude'] = null;

// Units to use when displaying the weather.
// Available values: metric, imperial
$config['xweather_units'] = "metric";

// Specify the icon set used to represent the weather on the sidebar.
// Available values: cutout, glossy, monochrome, moonlight, stickers
$config['xweather_icons'] = "monochrome";

// Specify if by default the description should be displayed on the sidebar. The user will be able to change this
// option in his or her personal weather settings.
// Available values: true, false
$config['xweather_show_description'] = true;

// Specify if by default the pressure data should be displayed on the sidebar. The user will be able to change this
// option in his or her personal weather settings.
// Available values: true, false
$config['xweather_show_pressure'] = true;

// Specify if by default the humidity data should be displayed on the sidebar. The user will be able to change this
// option in his or her personal weather settings.
// Available values: true, false
$config['xweather_show_humidity'] = true;

// Specify if by default the cloud cover data should be displayed on the sidebar. The user will be able to change this
// option in his or her personal weather settings.
// Available values: true, false
$config['xweather_show_clouds'] = true;

// Specify if by default the wind data should be displayed on the sidebar. The user will be able to change this
// option in his or her personal weather settings.
// Available values: true, false
$config['xweather_show_wind'] = true;

// Specify if by default the sunrise time should be displayed on the sidebar. The user will be able to change this
// option in his or her personal weather settings. The sunrise time uses the timezone specified in Settings / User
// Interface.
// Available values: true, false
$config['xweather_show_sunrise'] = true;

// Specify if by default the sunset time should be displayed on the sidebar. The user will be able to change this
// option in his or her personal weather settings. The sunset time uses the timezone specified in Settings / User
// Interface.
// Available values: true, false
$config['xweather_show_sunset'] = true;