.uibox {
    border: 1px solid #dbdbdb;
}

a:focus {
    background-color: transparent !important;
}

/* icon fixes */

#xsidebar h2.boxtitle:before,
#xsidebar-button:before,
#quicksearchbar #searchmenulink:before,
#taskbar .minmodetoggle:before,
.dropbutton .dropbuttontip:before,
a.menuselector:after {
   // font-size: $fontLarge;
}

a.menuselector:after {
    position: relative;
    top: 5px;
}

#rcmthreads :before {
    position: relative;
    top: 2px !important;
    left: 2px;
}

.treetoggle {
    padding-top: 5px;
}

.button-interface-options:before {
    top: 2px;
}

a.button:not(#filter-form a.button),
.flatpickr-confirm {
    background: transparent !important;
    border: none;
}

/* other */

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
   // font-size: 15px;
}

.ui-tabs .ui-tabs-nav li {
    background-color: transparent;

    &.tablink a {
        background-color: transparent;
        color: #333;
        border: 0;
    }
}

.contactfieldgroup legend {
    background: transparent;
}

.contactfieldgroup {
    background: transparent;
}

input[type='text'],
input[type='password'],
input[type='email'],
select,
.menuselector {
    border: none !important;
    border-bottom: 1px solid #ddd !important;
}

#messagelistfooter a {
    color: #333;
}

#mainscreen {
    //left: 0;
    //bottom: 0;
    //right: 0;
}

#topline,
body.xbackground.xbackground-none #topline,
.minimal #topline,
body.minimal.xbackground.xbackground-none #topline,
.defaultSkin table.mceLayout tr.mceFirst td {
    background: #f1f1f1;
    color: #666;
}

#topnav {
    background: transparent !important;
    width: 100%;
    border: none !important;
    margin: 0;
}

#topline a {
    color: #666 !important;
}

#topline a:hover {
    color: #000 !important;
}

.records-table thead td,
.records-table thead th,
.moreheaderstoggle,
#compact-message-list-header.boxtitle {
    background: #f3f3f3 !important;
    font-size: 1em;
    color: #333;
}

#topnav {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.minimal #topnav {
    overflow: visible;
}

#taskbar {
    padding-right: 25px;
}

#taskbar a span.button-inner {
   // font-size: $fontLarge;
}

#taskbar a:before {
   // font-size: 24px !important;
}

#taskbar a span.button-inner {
    padding-top: 0;
}

#taskbar a.button-selected,
#taskbar a:hover {
    background: transparent;
}

#taskbar .minmodetoggle {
    margin-top: 12px;
    margin-right: 6px;
}

#topline {
    border-bottom: 1px solid #ddd;
}

#topline a.button-logout {
    background: none;
}

body.xskin .popupmenu,
#rcmKSearchpane,
.tooltip,
#messagestack div {
    border: 1px solid #dcdcdc !important;
    color: #333;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4) !important;
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.4) !important;
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.4) !important;
}

ul.toolbarmenu li a span {
    padding: 0 !important;
}

ul.toolbarmenu li {
    padding: 5px;
}

body.xskin .popupmenu a.button:hover {
    background: transparent !important;
}

.dropbutton .dropbuttontip {
    padding-top: 16px;
}


.dropbutton .dropbuttontip:before {
   // font-size: $fontSmall;
}

.minimal #taskbar a:hover .tooltip {
    font-size: 0.9em;
    color: #333 !important;
    padding: 1px 6px;
    top: 35px;
    box-shadow: none !important;
    border: 1px solid #ddd;

    &:after {
        display: none;
    }
}

#messageheader {
    border-top: none;
    border-left: none;
}

#searchmenu-menu {

    select {
        margin: 0 8px;
        padding: 0;
    }
}

#searchmenulink,
#searchreset,
.menuselector:after,
.menuselector span {
    color: #666;
}

#searchmenulink:before {
    position: relative;
    top: -3px;
}

.toolbar {
    padding-left: 6px;
}

.toolbar a.button {
   // font-size: $fontTiny;
}

.toolbar a.button:before {
    font-size: 22px !important;
}

.treelist li {
    border: none !important;
}

.treelist ul {
    border: none !important;
}

.listbox .listitem a,
.listbox .tablink a,
.listing tbody td,
.listing li a,
.boxtitle,
.uibox .listing thead td,
.uibox .listing thead th {
    height: auto;
}

#quicksearchbar {
    right: 10px;
}

.searchbox input,
#quicksearchbar input {
    padding-left: 42px;
}

#mailview-bottom {
    border-bottom: none !important;
    border-right-width: 0 !important;
}

#xsidebar {
    border-right: none;
    background: transparent !important;

    div.box-wrap {
        background: transparent !important;
        border-bottom: 1px solid #ddd;
    }
}

.xsidebar-visible #mailview-bottom {
    border-right-width: 1px !important;
}

.records-table thead td,
.records-table thead th {
    color: #333;
    border-bottom: 1px solid #ddd;
}

.records-table tbody td {
    border-left: none;
    border-right: none;
}

.records-table thead td a,
.records-table thead th a,
.records-table thead td span,
.records-table thead th span,
.records-table thead tr td.sortedASC a,
.records-table thead tr th.sortedASC a,
.records-table thead tr td.sortedDESC a,
.records-table thead tr th.sortedDESC a {
    color: #333 !important;
    font-weight: normal;
}

.records-table tr.selected td,
.records-table tr.unfocused td,
.records-table tr.selected td a,
.records-table tr.selected td span,
.records-table tr.unfocused td a,
.records-table tr.unfocused td span {
   // color: #fff !important;
}

ul#planner_controls li a {
    background: transparent;
    color: #333;
}

#addButton,
#reassembleButton {
    background: none !important;
    border: none;
}

.settings-page .formbuttons {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    text-align: right;
}

.settings-page .formbuttons.floating {
    border-top: none;
}

input.button,
input[type='button'],
.formbuttons input.button,
input.button.mainaction,
#login-form input.button {
    background: none !important;
    color: #333;
}

a.button:hover,
input.button.mainaction,
input.button:hover,
input.button:focus,
input.button:active,
input.button.mainaction:hover,
input.button.mainaction:focus,
input.button.mainaction:active,
button.button,
#login-form input.button:hover,
#login-form input.button:focus,
#login-form input.button:active {
    color: #333;
    background-color: transparent !important;
}

#preferences-details .propform {
    font-size: 1em;
}

.iframebox {
    border: none;
}

.footerleft.formbuttons.floating {
    padding-left: 0;
}

#taskbar .minmodetoggle {
    padding-right: 5px;
}

#topline a.button-logout {
    padding-left: 10px;
}

ul#planner_controls li a:hover {
    background: transparent;
}

body.xlarry-light-ui .uibox .boxtitle,
body.xlarry-light-ui .uibox .listing thead td,
body.xlarry-light-ui .uibox .listing thead th {
    background: #ddd;
    color: #333 !important;
}

#mailview-right .messagelist td,
#mailview-right .messagelist th  {
    padding-top: 4px;
    padding-bottom: 4px;
    border-left: none;
    border-right: none;
}

#mailview-right .messagelist thead td,
#mailview-right .messagelist thead th {
    padding-top: 0;
    padding-bottom: 0;
}

#mailview-right .messagelist div:before,
#mailview-right .messagelist span:before {
    font-weight: normal !important;
}

#mailview-right .messagelist td.status span {
    top: -1px;
}

.records-table tbody tr.selected.focused>td:first-child {
    border-left: none;
}

.listbox .listitem a,
.listbox .tablink a,
.listing tbody td,
.listing li a,
.uibox .boxtitle,
.uibox .listing thead td,
.uibox .listing thead th,
.boxtitle {
    font-size: 1em;
}

.listbox .boxtitle+.scroller {
    top: 47px;
}

#summarytable {
    width: 100%;
}

#summarytable td:last-child {
    width: 50%;
}

#summary ul#mailboxlist li {
    background: transparent !important;
}

#summary ul#mailboxlist li.mailbox a {
    font-size: 1em;
}

.boxtitle {
    padding-top: 7px;
    padding-bottom: 7px;
   // font-size: $fontSmall !important;
}

#mailboxlist {
    .selected a {
        font-weight: bold;
    }

    a:focus {
        background: transparent !important;
    }

    .selected li a,
    li.unread,
    li.mailbox .unreadcount {
        font-weight: normal;
    }

    li.mailbox a {
        padding-top: 8px;
        padding-bottom: 7px;

    }

    li.mailbox .unreadcount {
        color: #888 !important;
    }

    li.mailbox .unreadcount {
        top: 4px;
        color: #aaa;
    }
}

div.expanded,
div.collapsed {
    top: 15px !important;
    left: 2px !important;
}

#quotadisplay {
    top: 14px;
    padding-top: 4px;
}

#quota-box {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 13px;
    border: 1px solid #aaa;
    top: 2px;
    margin-right: 5px;
}

#quota-bar {
    display: inline-block;
    height: 13px;
    background-color: #aaa;
}

table.quota-info td,
table.quota-info th {
    color: #333;
}

.pagenav a.button {
    padding-top: 0 !important;
}

.boxpagenav a.icon {
    height: 15px;
}

#calendar-header .boxtitle {
    border: none;
}

#folder-selector li a span {
    background-image: none;
    padding-left: 16px;
}

.calendar-page .listbox .listitem a,
.calendar-page .listbox .tablink a,
.calendar-page .listing tbody td,
.calendar-page .listing li a,
.calendar-page .uibox .boxtitle,
.calendar-page .uibox .listing thead td,
.calendar-page .uibox .listing thead th,
.calendar-page .boxtitle {
    font-size: 1em;
}

#upcoming-content,
#calendaroverlay {
    left: 0;
    bottom: 44px;
  //  font-size: $fontSmall !important;
}

#upcoming-content .boxtitle {
    height: 25px !important;
}

#upcoming-content a,
#upcoming-content span,
#upcoming-content label {
   // font-size: $fontSmall !important;
}

#upcoming-container {
    top: 28px;
}

#password-form .boxcontent {
    border: none;
}

.googie_list td span, ul.toolbarmenu li a.active {
    color: #000;
}

.googie_list td {
    padding: 0;
    border: none;
    border-bottom: 1px solid #ddd;
}

.googie_list td.googie_list_onhover {
    background: #E9E9E9;
}

.googie_list form {
    padding: 6px !important;
}

.googie_list form img {
    background: #6b6b6b;
    padding: 1px 3px 2px 3px;
    float: right;
}

.toolbar a.button.spellcheck.selected,
.toolbar a.button.spellcheck.selected:before {
    color: #333;
}

#searchfilter a.menuselector span {
    height: auto !important;
}

#apps-menu a.app-item div {
    font-size: 0.9em;
    color: #5a5a5a;
}

/* xcalendar */

#calendar-grid-controller {
    border: none;

    .fc-header-toolbar {
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }

    .fc-view-harness {
        border-left: 1px solid #ddd;
    }
}

#sidebar-calendar .ui-datepicker-header a,
#sidebar-calendar .ui-datepicker-header select,
.xcalendar .boxtitle button {
    color: #333 !important;
}

#sidebar-calendar .ui-datepicker-header select {
   // font-size: $fontSmall;
    font-weight: normal;
}

#sidebar-calendar .ui-datepicker .ui-datepicker-title {
    line-height: 1em;
}

#sidebar-calendar .ui-datepicker .ui-datepicker-prev,
#sidebar-calendar .ui-datepicker .ui-datepicker-next {
    height: 1em;
    top: 12px !important;
}

#sidebar-calendar .ui-datepicker-header.boxtitle {
    padding: 3px 0;
}

.xtabs.ui-tabs .ui-tabs-nav {
    margin-top: 5px;
}

#calendar-edit-controller .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    background: transparent !important;
}

.xcalendar .calendar-list a.edit {
    margin-top: 4px;
}

.xcalendar #sidebar-calendar .ui-datepicker-header,
.xcalendar #calendar-grid .fc-toolbar,
#xsidebar h2.boxtitle {
    padding-top: 10px;
    padding-bottom: 10px;
}

.xcalendar #calendar-grid button {
    position: relative;
    top: -2px;
}

.xcalendar #calendar-grid .fc-icon-today {
    top: -1px;
}

.xcalendar .calendar-list .new-calendar {
    top: 10px;
}

#xcalendar-toolbar {
    margin-left: 10px;
}

.ui-datepicker {
    min-width: 0;
}

button.new-calendar {
    padding-right: 0;
}

#calendar-grid .fc-toolbar .fc-right {
    padding-top: 5px;
}

#xsidebar,
#xsidebar div.box-wrap {
    background: #fff;
    border-color: #ddd !important;
}

#xsidebar h2.boxtitle {
    background: #F3F3F3 !important;
    border-color: #ddd !important;
    color: #333 !important;
}

#maillistmode:before {
    top: 2px;
}

.buttongroup {
    background-color: transparent;
}

#attachment-list  a {
    padding-top: 1px;
    padding-bottom: 1px;
}

#messagelistheader,
#messagelistfooter {
    font-size: 13px !important;
}

#countcontrols input {
    font-size: 12px !important;
    padding: 0;
}

.boxfooter .countdisplay {
    padding-top: 8px;
    padding-right: 10px;
    float: right;
}

.boxpagenav a.icon {
    padding-top: 0;
}

.headers-table td,
.headers-table td span {
    color: #333 !important;
    font-weight: normal !important;
}

#messagebody {
    line-height: 1.3em;
}

.popupmenu ul.toolbarmenu li label {
    padding-top: 0;
    padding-bottom: 0;
}

/* xmessage_list */

.compact-message-list-preview #mailview-top.preview-visible,
.compact-message-list-always {
    #messagelist td {
        background: transparent !important;
    }

    #messagelist tr.unread:before {
        position: absolute !important;
        top: 15px !important;
        left: 8px !important;
        right: auto !important;
        bottom: auto !important;
        content: "";
        font-size: 20px;
        background: #4795e5;
        height: 0.6em;
        width: 0.6em;
        display: block;
        border-radius: 50%;
    }

    .records-table tr.selected td span,
    .records-table tr.selected td {
        color: #333 !important;
    }

    #mailview-top,
    #mailview-bottom {
        border-right-style: solid;
    }
}

/* xbackground */

body.xskin.xbg {
    #xsidebar,
    #xsidebar h2.boxtitle,
    .uibox .boxtitle,
    &.iframe h1.boxtitle,
    ul.listing li,
    #compact-message-list-header.boxtitle,
    #messagelistfooter,
    #messageheader,
    #previewheaderstoggle {
        background: transparent !important;
    }

    &.iframe h1.boxtitle {
        background: rgba(255, 255, 255, 0.8) !important;
    }

    #compact-message-list-header.boxtitle,
    #messageheader {
        border-bottom: 1px solid #ddd !important;
    }
}

/* plugin: ident_switch */

#plugin-ident_switch-account {
    margin-top: 12px !important;
    font-size: 110%;
    float: left;
    border: none !important;
}