* {
    border-radius: 0 !important;
}

button.ui-button.ui-dialog-titlebar-close:hover {
    background: transparent !important;
}

button.mainaction,
input.button.mainaction {
    color: #fff !important;
}