.login-page #header #topnav #taskbar {
    background: #0075C8 !important;
}

.login-page {
    background: #0075c8;
}

#login-form {
    overflow: visible;
    margin: 200px auto 0 auto !important;
    color: #333;
    width: 420px;
    background: #fff;

    table {
        width: 100% !important;
        border-collapse: collapse;
    }

    .box-inner {
        padding: 30px 40px 0 40px;
        background: #fff !important;
        border: none;
        margin: 0;
        border-radius: 0;
        box-sizing: content-box;
        width: auto;
    }

    .box-bottom {
        padding: 0 0 20px 0;
        margin: 0;

        #message {
            padding: 0;
            min-height: 0;

            div {
                background-color: transparent;
                color: #333;

                &.warning {
                    color: #a27602;
                }
            }
        }
    }

    .boxtitle {
        color: #0075C8;
    }

    table td.title,
    table td.input {
        display: block;
        text-align: left;
        padding: 0;
        width: 100%;
    }

    table td.title {
        padding-bottom: 5px;
    }

    table td.input {
        padding-bottom: 10px;
    }

    td select {
        margin: 0;
        width: 100%;
        padding: 5px;
        box-sizing: content-box;
    }

    p.formbuttons {
        margin: 10px 0;
    }

    p,
    p.formbuttons,
    div {
        text-align: left;
        padding: 0;
    }

    h1 {
        margin: 0;
        padding: 0 0 10px 0;
        color: #000;
        width: auto !important;
        height: auto !important;
        margin: 0 !important;
        font-weight: normal;
    }

    .box-inner p.formbuttons {
        input.button,
        button.submit,
        input,
        input:active,
        a.mainaction {
            background: #0075C8;
            padding: 8px 20px;
            color: #fff;
            margin: 0 0 10px 0;
        }
    }

    .formbuttons {
        input,
        button.submit {
            width: 100%;
        }

        input:hover,
        button.submit:hover {
            background-color: #138be1 !important;
        }

        input:disabled,
        button.submit:disabled {
            background-color: #ddd !important;
            color: #aaa;
        }
    }

    #bottomline {
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        visibility: visible;
        background: rgba(0, 0, 0, 0.4);
        padding: 8px;
        color: #fff;

        a {
            color: #fff;
        }
    }

    form[name=contactus] input[type=text] {
        width: 200px;
    }
}

#vendor-branding {
    background: rgba(0, 0, 0, 0.4);
}