
body {
    background: #fff;
}

/* other */

#main-menu,
.popup-box .popup-close {
    background-color: #191c20;
}

#main-menu a,
.popup-box .popup-close a {
    display: inline-block;
    height: 40px !important;
    width: 48px !important;
    margin-top: 5px !important;
    margin-left: 5px !important;
    padding: 7px 0 0 0 !important;
    border-radius: 5px !important;
    background-color: #404040;
    text-align: center;
    box-sizing: border-box;
}

.popup-box .popup-close a {
    float: left;
}

.popup-box h5,
.popup-box h2.boxtitle {
    padding-left: 10px !important;
    top: 17px;
}

input[type='button'],
.popup-box a,
.popup-box #sections-table td,
#mailFoldersBox a,
#addressList a,
.contactfieldbutton.deletebutton,
.iframe a.active,
#subscriptionTable td.name,
div.buttonBox a,
#message-objects div a.button,
input.button.mainaction,
input.button.mainaction:active {
    border-radius: 5px !important;
}

#main-menu a.active {
    color: #fff;
}

.uibox .boxtitle,
.uibox .listing thead td {
    background: #fff !important;
}

.records-table thead tr th {
    color: #333;
}

#compose-attachments a.button,
.contactfieldcontent a.contactfieldbutton {
    color: #fff;
}

.new-calendar {
    padding: 5px 10px 5px 10px !important;
}

#xes-countdown-box button {
    border: none;
}