button.mainaction,
input.button.mainaction,
#mainscreen .toolbar a.button {
    color: #fff !important;
}

/* flatpickr (datetime picker) */

.flatpickr-confirm {
    margin: 5px;
    border-radius: 4px;
    height: auto;
    padding: 3px;
}