body.login-page {
    background: #EFF9FF url(../images/login_bg.png) repeat-x;
    padding: 0;
    margin: 0;

    #login-form {
        width: 100% !important;
        margin: 0 !important;
        padding: 155px 0 0 0;
        background: url(../images/login.png) no-repeat center top;
        border: none;

        .boxtitle {
            color: #333 !important;
            margin-top: 20px;
            border: none;
        }

        .box-inner {
            margin: 0 auto 0 auto;
            padding: 25px 0 10px 0;
            width: 450px;
            border: 1px solid #aaccee;
            background: #e9f4ff;
            box-shadow: 3px 3px 4px #c0dcee !important;
            text-align: center;
        }

        h1 {
            display: none;
        }

        form {
            padding: 0 30px 10px 30px;
        }

        form[name=registerform] {
            padding-top: 0;
        }

        #rcmloginsubmit {
            color: #2c7dcf;
            padding: 5px 16px;
            background: #f4fbff;
            border: 1px solid #aaccee;
        }

        #rcmloginsubmit:hover {
            background: #ddf1fd !important;
        }

        .box-bottom {
            margin: 0 auto;
            width: 450px;
        }

        .formbuttons {
            margin-bottom: 0;

            input.button,
            input,
            input:active,
            button.submit,
            a.button {
                background: #D3E8FF !important;
                padding: 8px 20px;
                margin: 0 0 10px 0;
                font-weight: bold;
            }
        }
    }

    #logo {
        padding: 20px 20px 0 20px;
    }

    #header #topnav #taskbar {
        background: #E9F4FF !important;
        border-bottom: 1px solid #ACE;
    }

    #header #topnav #taskbar a span {
        color: #333 !important;
        font-weight: normal;
    }

    &:not(.xbackground-login-image) #bottomline {
        background: transparent;

        &, a {
            color: #717171;
        }
    }
}

body.xbackground-login-image {
    #login-form {
        background: transparent !important;

        .box-inner {
            box-shadow: none !important;
        }
    }
}