@use "sass:list";

$map: (
    //         1-bg      2-bg     3-bg     4-bg     5-accent 6-accent 7-accent 8-accent
    //         normal    hot      light    text     normal   dark     light    text
    ("F44336", (#F44336, #D32F2F, #EF5350, #FFFFFF, #2979FF, #236FEC, #5494FF, #FFFFFF)), // red
    ("E91E63", (#E91E63, #C2185B, #EC407A, #FFFFFF, #0091EA, #0085DA, #33A7EE, #FFFFFF)), // pink
    ("9C27B0", (#9C27B0, #7B1FA2, #AB47BC, #FFFFFF, #0091EA, #0085DA, #33A7EE, #FFFFFF)), // purple

    ("673AB7", (#673AB7, #512DA8, #7E57C2, #FFFFFF, #F50057, #DF0355, #F73379, #FFFFFF)), // deep purple
    ("3F51B5", (#3F51B5, #303F9F, #5C6BC0, #FFFFFF, #F50057, #DF0355, #F73379, #FFFFFF)), // indigo
    ("1976D2", (#1976D2, #1565C0, #42A5F5, #FFFFFF, #FF1744, #F1183C, #FF4569, #FFFFFF)), // blue

    ("039BE5", (#039BE5, #0288D1, #29B6F6, #FFFFFF, #FF1744, #F1183C, #FF4569, #FFFFFF)), // light blue
    ("0097A7", (#0097A7, #00838F, #00ACC1, #FFFFFF, #FF1744, #F1183C, #FF4569, #FFFFFF)), // cyan
    ("009688", (#009688, #00796B, #26A69A, #FFFFFF, #FF3D00, #DD2C00, #E45633, #FFFFFF)), // teal

    ("43A047", (#43A047, #388E3C, #66BB6A, #FFFFFF, #FF3D00, #DD2C00, #E45633, #FFFFFF)), // green
    ("689F38", (#689F38, #558B2F, #7CB342, #FFFFFF, #FF3D00, #DD2C00, #E45633, #FFFFFF)), // light green
    ("AFB42B", (#AFB42B, #9E9D24, #C0CA33, #FFFFFF, #FF1744, #F1183C, #FF4569, #FFFFFF)), // lime

    ("FBC02D", (#FBC02D, #F9A825, #FDD835, #FFFFFF, #FF1744, #F1183C, #FF4569, #FFFFFF)), // yellow
    ("FFA000", (#FFA000, #FF8F00, #FFC107, #FFFFFF, #0091EA, #0085DA, #33A7EE, #FFFFFF)), // amber
    ("EF6C00", (#EF6C00, #E65100, #FFA726, #FFFFFF, #0091EA, #0085DA, #33A7EE, #FFFFFF)), // orange

    ("E64A19", (#E64A19, #D84315, #FF7043, #FFFFFF, #0091EA, #0085DA, #33A7EE, #FFFFFF)), // deep orange
    ("795548", (#795548, #5D4037, #8D6E63, #FFFFFF, #0091EA, #0085DA, #33A7EE, #FFFFFF)), // brown
    ("757575", (#757575, #616161, #BDBDBD, #FFFFFF, #0091EA, #0085DA, #33A7EE, #FFFFFF))  // grey
);

// #FF1744, #F1183C, #FF4569 red
// #F50057, #DF0355, #F73379 pink
// #FF9100, #FF6D00, #FF8A33 orange
// #FF3D00, #DD2C00, #E45633 deep orange

@each $row in $map {
    $key: list.nth($row, 1);
    $colors: list.nth($row, 2);

    body.xcolor-#{$key} button.mainaction,
    body.xcolor-#{$key} input.button.mainaction,
    body.xcolor-#{$key} #look-and-feel-shortcut a,
    body.xcolor-#{$key} input.switchbox-input:checked + label.switchbox {
        background-color: #{list.nth($colors, 5)} !important;
        border-color: #{list.nth($colors, 5)} !important;

        &:hover,
        &:focus,
        &:active {
            border-color: #{list.nth($colors, 6)} !important;
            background-color: #{list.nth($colors, 6)} !important;
        }
    }

    // normal

    body.xcolor-#{$key} #topnav,
    body.xcolor-#{$key} #topline,
    body.xcolor-#{$key} .floating-action-buttons a.button,
    body.xcolor-#{$key} .flatpickr-confirm,
    body.xcolor-#{$key} .flatpickr-day.selected {
        background: #{list.nth($colors, 1)};
    }

    body.xcolor-#{$key} .flatpickr-confirm,
    body.xcolor-#{$key} .flatpickr-day.selected,
    body.xmobile.xcolor-#{$key} #countcontrols .pagenavbuttons a.button:not(.disabled) {
        background: #{list.nth($colors, 1)} !important;
    }

    // dark

    body.xdesktop.xcolor-#{$key} #taskbar > a:hover,
    body.xdesktop.xcolor-#{$key} #taskbar > span:hover,
    body.xmobile.xcolor-#{$key} #main-menu,
    body.xmobile.xcolor-#{$key} .popup-close,
    body.xmobile.xcolor-#{$key} #messagelistcontainer .boxpagenav a.icon,
    body.xmobile.xcolor-#{$key} #messagestack div,
    body.xmobile.xcolor-#{$key} .popup-box .popup-close,
    body.xmobile.xcolor-#{$key} #contactphoto .formlinks a,
    body.xmobile.xcolor-#{$key} .records-table thead tr th {
        background-color: #{list.nth($colors, 2)} !important;
    }

    // accent

    body.xcolor-#{$key} input.material-input:checked + label.material,
    body.xcolor-#{$key} .ui-button.ui-state-default,
    body.xmobile.xcolor-#{$key} .boxfooter .listbutton,
    body.xmobile.xcolor-#{$key} .contactfieldcontent a.contactfieldbutton  {
        background: #{list.nth($colors, 5)};
    }

    body.xcolor-#{$key} input.material-input:checked + label.material {
        border-color: #{list.nth($colors, 5)} !important;
    }

    body.xcolor-#{$key} #mailboxlist li.selected > a,
    body.xcolor-#{$key} .messagelist tr.flagged td,
    body.xcolor-#{$key} .messagelist tr.flagged td a,
    body.xcolor-#{$key} .records-table tr.flagged td span,
    body.xcolor-#{$key} #messagelist tr td .flag span.flagged:before,
    body.xcolor-#{$key} .listing .selected > td,
    body.xcolor-#{$key} .listing .selected > a {
        color: #{list.nth($colors, 5)} !important;
    }

    body.xcolor-#{$key} select:focus,
    body.xcolor-#{$key} textarea:focus,
    body.xcolor-#{$key} input[type='text']:focus,
    body.xcolor-#{$key} input[type='password']:focus,
    body.xcolor-#{$key} input[type='number']:focus,
    body.xcolor-#{$key} input[type='email']:focus,
    body.xcolor-#{$key} ul.tabsbar .ui-tabs-active a,
    body.xcolor-#{$key} .xtabs.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
        border-bottom: 2px solid #{list.nth($colors, 5)} !important;
    }

    // accent light

    body.xcolor-#{$key} label.material:before {
        background: #{list.nth($colors, 7)};
    }


}