button.mainaction,
input.button.mainaction {
    color: #fff !important;
}

/* ui dialog */

.ui-dialog {
    padding: 0;
    border-radius: 0 !important;
}

.ui-widget-header {
    background: #fff !important;
    border-radius: 0 !important;
}

.ui-widget-content {
    background-color: #fff;
    border: none;
}

/* inputs */

select,
input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
textarea,
.searchbox input,
a.menuselector {
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    background: transparent;
    padding: 5px 0 6px 0 !important;
    font-weight: normal;
    -webkit-transition: border-color 1s linear;
    -moz-transition: border-color 1s linear;
    -o-transition: border-color 1s linear;
    transition: border-color 1s linear;
}

select:focus,
textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='email']:focus {
    padding-bottom: 5px !important;
}

/* buttons */

input[type='button'],
input.button,
button,
a.btn,
.ui-button,
.ui-button.ui-state-default {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1em !important;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2px !important;
    transition: background 0.3s linear;
}


.ui-button span.ui-button-text {
    padding: 0 !important;
}

body.iframe .footerleft,
#composeview-bottom .formbuttons {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    box-sizing: border-box;
    z-index: 110;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-top: 1px solid #ddd;
    text-align: right;
}

body.iframe .footerleft:before {
    display: none;
}

#xresell-buy-now p {
    text-align: left;
}

/* tabs */

ul.tabsbar,
ul.tabsbar li,
ul.tabsbar a {
    background: #fff !important;
}

.ui-tabs .ui-tabs-nav {
    height: auto;
    padding-bottom: 2px;
}

ul.tabsbar a,
.xtabs.ui-tabs-nav a,
.xtabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    text-transform: uppercase;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #fff;
    min-height: 0 !important;
    padding: 10px 12px 15px 12px !important;
    font-weight: normal;
}

.xtabs.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    font-weight: normal;
}

ul.tabsbar li {
    position: static;
    border: none !important;
    border-image: none;
    padding: 0 !important;
}

.xtabs.ui-tabs .ui-tabs-nav {
    border-bottom: none;
}

/* other */

.contentbox .boxtitle,
body.iframe .boxtitle,
.contactfieldgroup legend {
    background: transparent;
    border: none;
    margin: 0;
}

#calendar-grid .fc-toolbar .fc-button {
    color: #fff;
}

#main-calendar-container h2 {
    font-weight: normal;
}

.xcalendar .ui-datepicker .ui-datepicker-header {
    background: #666666;
}

.xcalendar .ui-datepicker .ui-datepicker-month,
.xcalendar .ui-datepicker .ui-datepicker-year,
.xcalendar .ui-datepicker .ui-datepicker-prev,
.xcalendar .ui-datepicker .ui-datepicker-next,
.xcalendar .fc-state-default,
.xcalendar .boxtitle button {
    color: #555 !important;
    text-shadow: none;
    font-weight: normal;
    height: auto;
}

.xcalendar .fc-list-view {
    border: 1px solid #ddd;
    border-top: none;
}

#sidebar-calendar .ui-datepicker select.ui-datepicker-month,
#sidebar-calendar .ui-datepicker select.ui-datepicker-year {
    text-decoration: none !important;
    margin: 0 2px !important;
    padding: 0 !important;

}

.xcalendar .editor .content-box {
    border: none;
}

.xcalendar .editor .formbuttons {
    border-left: none;
    border-right: none;
}

#xcalendar-categories .category-item input[type='button'] {
    position: relative;
    height: 18px;
    padding-top: 1px !important;
    padding-bottom: 0 !important;
    font-size: 10px !important;
}

.fc th:first-child,
.fc td:first-child {
    border-left: none;
}

.fc th:last-child,
.fc td:last-child {
    border-right: none;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 1em;
}


.xcalendar #sidebar-calendar a.ui-datepicker-prev,
.xcalendar #sidebar-calendar a.ui-datepicker-next {
    top: 6px;
}

#sidebar-calendar .ui-datepicker-header {
    padding-top: 6px;
}

.fc-icon-left-single-arrow:after,
.fc-icon-right-single-arrow:after {
    font-weight: 300;
    font-size: 1.4em;
}

.xcalendar #calendar-grid .fc-icon-today {
    top: -2px;
}

.xcalendar #sidebar-calendar .selected-range td a {
    background: #eee !important;
}

body .listing .selected td {
    font-weight: bold !important;
}

.listing tbody td a {
    color: #333;
}

.xcalendar-sun-data:before {
    font-size: 10px !important;
}

#xcalendar-categories input[type='text'] {
    width: 200px !important;
}

.mh_preferences input[type='text'],
.mh_preferences select {
    width: auto !important;
}

#filter-form {

    select,
    input,
    textarea {
        font-size: 1em;
    }

    label.material.radio {
        margin-right: 5px !important;
        margin-left: 5px !important;
        position: relative;
        top: 3px;
    }
}

#filterslist tbody tr.disabled td,
#filtersetslist tbody tr.disabled td {
    color: #333;
}

#password-form .boxcontent {
    border: 0;
}

#password-form .boxcontent .title {
    padding-right: 20px;
}

#password-form .boxcontent p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 8px 0 12px 0;
    border-top: 1px solid #ddd;
    text-align: right;
}

.minicolors input[type='text'] {
    padding-left: 24px !important;
}

.minicolors-swatch {
    left: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;

    .minicolors-swatch-color {
        border-radius: 2px !important;
    }
}

.xformatting label.ui-button {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1px 4px !important;
    color: #333 !important;
    background: transparent !important;
    margin-right: 4px !important;
    transition: none !important;
}

#xsignature-settings-controller .xformatting label.ui-button:hover {
    background: transparent !important;
}

#xsignature-settings-controller #signature-tabs div.xformatting label.ui-state-active {
    background: #ddd !important;

}

.contactfieldgroup legend {
    padding-left: 0;
}

.contactfieldlabel.label {
    left: 0;
}

.ui-button.ui-state-default {
    background-image: none;
}

/* material checkboxes */

input.material-input {
    display: none;
    opacity: 0 !important;
    position: absolute !important;
}

label.material {
    font-size: 1em;
    background: transparent;
    position: relative;
    display: inline-block !important;
    padding: 0 !important;
    width: 12px !important;
    height: 12px !important;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.54) !important;
    border-radius: 2px !important;
    vertical-align: -0.15em !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    text-align: center;
    margin: 0;
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

label.material.radio {
    border-radius: 50% !important;
}

input.material-input:checked + label.material {
    background: #aaa;
    border-color: #aaa;
}

input.material-input:checked + label.material.radio:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    content: '' !important;
}

input.material-input:checked + label.material.checkbox:after {
    position: absolute;
    top: 0px;
    left: -1px;
    font-family: RcpIconFont;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    content: '\ec10' !important;
}

body.xskin input.material-input:disabled + label.material,
body.xskin input.material-input:checked:disabled + label.material {
    background: #cdcdcd !important;
    border-color: #cdcdcd !important;
    cursor:not-allowed;
}

label.material:before {
    position: absolute;
    top: -12px;
    left: -12px;
    display: block;
    background: #aaa;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

label.material.flash:before {
    opacity: 1;
}

/* material wave */

.wave-container {
    position: relative;
    overflow: hidden;
}

.wave {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    animation: ripple 0.6s;
}

@keyframes ripple {
    100% { transform: scale(100); opacity: 0; }
}

#interface-options {
    color: #333 !important;
}