@use "sass:list";

$map: (
    //          1-dark   2-light  3-liter  4-litest 5-normal 6-light
    ("04568f", (#04568f, #0f69a8, #1f7cbd, #dbf0ff, #5f9a37, #afdd8f)),
    ("0470bb", (#0470bb, #479ad2, #2986C4, #dbf0ff, #85c35b, #afdd8f)),
    ("0492bb", (#0492bb, #47b6d2, #299ec4, #dbf8ff, #5bc385, #8ddcac)),
    ("00a95f", (#00a95f, #18c278, #27c480, #d3f4ff, #1ca5d2, #56c8ed)),
    ("009928", (#009928, #17b941, #2fc656, #d6f2fb, #3a95e8, #83bdf5)),
    ("00781f", (#00781f, #05942b, #10aa38, #ccf3ff, #1578d2, #83bdf5)),

    ("6d4500", (#6d4500, #83580b, #926516, #f6e4c6, #b13128, #f4aca6)),
    ("8a5903", (#8a5903, #9b6913, #a67622, #f6e9d3, #d3493f, #f0b2b2)),
    ("a56b05", (#a56b05, #b97704, #c98205, #f9eacf, #f35549, #f7c9c6)),
    ("d33333", (#d33333, #e04141, #ed4848, #fce7c7, #c28420, #d6ac69)),
    ("a50c0c", (#a50c0c, #ba0f0f, #c91111, #fce7c7, #ac7825, #d6ac69)),
    ("730000", (#730000, #8c0202, #a20101, #fce7c7, #98671a, #d6ac69)),

    ("E47297", (#E47297, #d76288, #cf577e, #fee7c9, #f49c29, #f3ba6f)),
    ("CA278C", (#CA278C, #df2e9c, #ef31a7, #fee7c9, #e98400, #f3ba6f)),
    ("9C1C6B", (#9C1C6B, #b7207d, #cd278e, #fee7c9, #c97200, #f3ba6f)),
    ("660099", (#660099, #8a0acb, #9d13e2, #fee7c9, #e66f20, #ffc9a5)),
    ("545454", (#545454, #696969, #7d7d7d, #e1e1e1, #7d7d7d, #cdcdcd)),
    ("000000", (#000000, #3d3d3d, #5d5d5d, #e1e1e1, #5d5d5d, #cdcdcd))
);

@each $row in $map {
    $key: list.nth($row, 1);
    $colors: list.nth($row, 2);

    body.xcolor-#{$key} button.mainaction,
    body.xcolor-#{$key} input.button.mainaction,
    body.xcolor-#{$key} #look-and-feel-shortcut a,
    body.xcolor-#{$key} input.switchbox-input:checked + label.switchbox {
        background-color: #{list.nth($colors, 1)} !important;
        border-color: #{list.nth($colors, 1)} !important;

        &:hover,
        &:focus,
        &:active {
            border-color: #{list.nth($colors, 2)} !important;
            background-color: #{list.nth($colors, 2)} !important;
        }
    }

    body.xcolor-#{$key} #topnav,
    body.xcolor-#{$key} #topline,
    body.xcolor-#{$key} ul#planner_controls li a,
    body.xcolor-#{$key} .googie_list form img,
    body.xmobile.xcolor-#{$key} #main-menu,
    body.xmobile.xcolor-#{$key} .popup-close,
    body.xmobile.xcolor-#{$key} #mailboxlist li.mailbox a .unreadcount,
    body.xmobile.xcolor-#{$key} #messagelistcontainer .boxpagenav a.icon,
    body.xmobile.xcolor-#{$key} #messagestack div,
    body.xmobile.xcolor-#{$key} .boxfooter .listbutton,
    body.xmobile.xcolor-#{$key} #uploadformlink,
    body.xmobile.xcolor-#{$key} .contactfieldbutton,
    body.xmobile.xcolor-#{$key} #compose-attachments a.button {
        background: #{list.nth($colors, 1)};
    }

    body.xmobile.xcolor-#{$key} #countcontrols .pagenavbuttons a.button:not(.disabled) {
        background: #{list.nth($colors, 1)} !important;
    }

    body.xmobile.xcolor-#{$key} #settings-right div.uibox {
        border-color: #{list.nth($colors, 1)} !important;
    }

    body.xcolor-#{$key} .toolbar a.button,
    body.xcolor-#{$key} #today-title a,
    body.xcolor-#{$key} #calendar .fc-button,
    body.xmobile.xcolor-#{$key} #mailboxlist li.mailbox div.treetoggle,
    body.xmobile.xcolor-#{$key} #directorylist li.addressbook div.collapsed,
    body.xmobile.xcolor-#{$key} #directorylist li.addressbook div.expanded,
    body.xmobile.xcolor-#{$key} .folderlist li.mailbox div.treetoggle:before {
        color: #{list.nth($colors, 1)};
    }

    body.xcolor-#{$key} #topnav #taskbar a.button-selected span,
    body.xcolor-#{$key} #topnav #taskbar a.button-selected:before{
        color: #{list.nth($colors, 1)} !important;
    }

    body.xcolor-#{$key} #topnav a {
        background-color: #{list.nth($colors, 2)};
    }

    body.xcolor-#{$key} .flatpickr-confirm,
    body.xcolor-#{$key} .flatpickr-day.selected,
    body.xmobile.xcolor-#{$key} #main-menu a,
    body.xmobile.xcolor-#{$key} .popup-box .popup-close a,
    body.xmobile.xcolor-#{$key} .popupmenu .popup-close a,
    body.xmobile.xcolor-#{$key} #quicksearchbar .popup-close a {
        background-color: #{list.nth($colors, 2)} !important;
    }

    body.xcolor-#{$key} .popupmenu,
    body.xcolor-#{$key} #rcmKSearchpane {
        border-color: #{list.nth($colors, 2)};
    }

    body.xdesktop.xcolor-#{$key} #topnav a:hover {
        background-color: #{list.nth($colors, 3)} !important;
    }

    body.xcolor-#{$key} .listbox .listitem.selected,
    body.xcolor-#{$key} .listbox .tablink.selected,
    body.xcolor-#{$key} .listbox .listitem.selected > a,
    body.xcolor-#{$key} .listbox .tablink.selected > a,
    body.xcolor-#{$key} .listing tbody tr.unfocused td,
    body.xcolor-#{$key} .listing tbody tr.selected td,
    body.xcolor-#{$key} .listing li.selected,
    body.xcolor-#{$key} .listing li.selected > a {
        background-color: #{list.nth($colors, 4)};
    }

    body.xcolor-#{$key} .records-table tr.selected,
    body.xcolor-#{$key} .records-table tr.unfocused,
    body.xcolor-#{$key} .records-table tr.selected td,
    body.xcolor-#{$key} .records-table tr.unfocused td {
        background-color: #{list.nth($colors, 4)} !important;
    }

    body.xcolor-#{$key} .uibox .boxtitle,
    body.xcolor-#{$key} .uibox .listing thead td,
    body.xcolor-#{$key} .uibox .listing thead th,
    body.xcolor-#{$key} .records-table thead td,
    body.xcolor-#{$key} .records-table thead th,
    body.xcolor-#{$key} #mailboxcontainer,
    body.xcolor-#{$key} .contentbox .boxtitle,
    body.xcolor-#{$key}.iframe .boxtitle,
    body.xcolor-#{$key} .contactfieldgroup legend,
    body.xcolor-#{$key}.xcalendar .ui-datepicker .ui-datepicker-header,
    body.xmobile.xcolor-#{$key} #current-folder {
        background-color: #{list.nth($colors, 5)};
    }

    body.xcolor-#{$key} .xtabs.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
    body.xmobile.xcolor-#{$key} #main-menu,
    body.xmobile.xcolor-#{$key} .popup-box .popup-close,
    body.xmobile.xcolor-#{$key} .popupmenu .popup-close,
    body.xmobile.xcolor-#{$key} #quicksearchbar .popup-close {
        border-color: #{list.nth($colors, 5)};
    }

    body.xcolor-#{$key} .uibox,
    body.xcolor-#{$key} #mailview-top,
    body.xcolor-#{$key} #mailview-bottom,
    body.xcolor-#{$key} #messageheader,
    body.xcolor-#{$key} #vertical-preview,
    body.xcolor-#{$key} #messagelistfooter,
    body.xcolor-#{$key} .boxfooter,
    body.xcolor-#{$key}.iframe .footerleft.floating:before,
    body.xcolor-#{$key} #composeview-bottom .formbuttons.floating:before,
    body.xcolor-#{$key} #compose-content,
    body.xcolor-#{$key} #today-title {
        border-color: #{list.nth($colors, 6)};
    }
}