#login-form {
    input.button,
    button.submit {
        background: #0470bb;
        border: none;
        color: #fff;
    }

    #company-name {
        border-bottom: 5px solid #85c35b;
        padding-left: 10px;
        color: #fff;
    }

    .box-inner {
        padding: 0;
    }

    .box-inner form {
        padding: 10px;
    }
}

#login-menu-button {
    color: #fff;
    background: #0470BB;
}
