<?php
/**
 * Roundcube Plus Background plugin.
 *
 * Copyright 2016, Roundcubeplus.com.
 *
 * @license Commercial. See the LICENSE file for details.
 */

// Specifies the default background image.
// The user will be able to change this value in Settings / Preferences / Background.
$config['xbackground_image'] = "none";

// Specifies the default opacity of the background image.
// The user will be able to change this value in Settings / Preferences / Background.
// The available values are: 10, 20 30, 40, 50, 60, 70, 80, 90, 100.
$config['xbackground_image_opacity'] = "80";

// Specifies the default opacity of the content boxes. This option is only available when using larry-based Roundcube
// Plus skins.
// The user will be able to change this value in Settings / Preferences / Background.
// The available values are: 10. 20, 30, 40, 50, 60, 70, 80, 90, 100.
$config['xbackground_content_opacity'] = "80";

// Specifies the bluring of the background image.
// The user will be able to change this value in Settings / Preferences / Background.
// The available values are: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100.
$config['xbackground_blur'] = "10";

// Specifies the amount of conversion to gray of the background image.
// The user will be able to change this value in Settings / Preferences / Background.
// The available values are: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100.
$config['xbackground_gray'] = "20";

// Specifies whether the color of the text shown directly on the background image should be dark or light.
// This option is only available when using larry-based Roundcube Plus skins.
// The user will be able to change this value in Settings / Preferences / Background.
// The available values are: 'auto', 'light', 'dark'.
$config['xbackground_text_color'] = "auto";

// Specifies the location of the directory where custom background images are uploaded.
// For the custom upload functionality to be available, this directory must be writable to the web server.
$config['xbackground_upload_dir'] = RCUBE_INSTALL_PATH . "data/xbackground";

// Specifies the URL through which the custom background images are accessible.
$config['xbackground_upload_url'] = "data/xbackground";

// Specifies the size limit of the uploaded background files in bytes. Please note that if this setting is higher than
// the PHP max file size setting, the latter will take the precedence.
$config['xbackground_upload_size_limit'] = 1000000;

// Specifies whether the user will be able to change background images.
// The available values are: true, false.
$config['xbackground_image_change_enabled'] = true;

// Specifies whether the user will be able to change the opacity of the content boxes.
// The available values are: true, false.
$config['xbackground_opacity_change_enabled'] = true;

// Specifies whether the user will be able to upload custom background images. If this setting is set to true, the
// xbackground_upload_dir must exist and must be writable to the web server, and xbackground_upload_url must be
// a valid url.
// The available values are: true, false.
$config['xbackground_upload_enabled'] = true;

// Specifies the url of the image that will be used for the background of the login page. A relative or an absolute
// url path can be used. The url can point to a single image, or a directory containing a gallery of images.
// The program will display a single image if the url ends with .jpg, .png or .svg. Otherwise, it will consider the url
// a gallery of images. When using the gallery, name each image according to the day of the year with two leading zeros
// and the extension .jpg, for example, "034.jpg". The program will cycle through the images displaying a different one
// for every day of the year. A ready-made image gallery is available for download on the Roundcube Plus website.
// If you don't want to display a login background image, set this option to false.
// The available values are: false, <image url>, <gallery url>
$config['xbackground_login_image'] = false;

// Specifies the opacity of the login background image. This should be an integer between 1 and 100.
// The default value is 70.
$config['xbackground_login_opacity'] = 70;