@use "sass:list";

$map: (
    //          1        2        3        4        5        6        7        8
    //          text     text     colorbg  colorbg  colorbg  colorbg  whitebg  message
    //          normal   hot      light    dark     border   text     border   highlight
    ("007aff", (#007aff, #0a70de, #dceefb, #c4e1fb, #cde3f1, #4b6274, #a9c7de, #2b91e3)),
    ("7200ff", (#7200ff, #640ade, #e8dcfb, #dccafb, #cab1f9, #72319b, #c7a9de, #b15ade)),
    ("00afa1", (#00afa1, #009a8d, #e2f8f6, #c5ece9, #b7e2de, #276b66, #5dbeb6, #1a8279)),
    ("009e13", (#009e13, #008910, #ebfced, #caefce, #b0dfb5, #307738, #67be71, #1b9229)),
    ("518901", (#518901, #437200, #e8f7d1, #d3e8b1, #c9e1a2, #5a861c, #a7cb73, #628b27)),
    ("878901", (#878901, #6e6f00, #fefeef, #efefcc, #e7e8b8, #858634, #c0c16e, #959620)),
    ("f92d30", (#f92d30, #cc2f27, #ffdfdf, #ffbebe, #f9b1b1, #7f5858, #e5aca9, #ff3b30)),
    ("ef0087", (#ef0087, #c90072, #fbdcef, #fbcae9, #f9b1e0, #730c6f, #b42b8c, #e32ba9)),
    ("ff8400", (#ff8400, #de7d0a, #fbeddc, #fbe3ca, #f9d3b1, #7c4c27, #debfa9, #e38a2b)),
    ("d66f00", (#d66f00, #c06300, #fadace, #f0c4b3, #dca894, #9c3d17, #ebb9a6, #b8552d)),
    ("895401", (#895401, #6b4100, #fff7eb, #e4d2b5, #d5c09e, #795722, #ddc194, #a0783a)),
    ("000000", (#000000, #4d4d4d, #efefef, #d4d4d4, #cacaca, #626262, #b1b1b1, #626262))
);

@each $row in $map {
    $key: list.nth($row, 1);
    $colors: list.nth($row, 2);

    body.xcolor-#{$key} {
        .buttons a.button,
        button.button,
        #interface-options a.btn,
        #compose-attachments a.button,
        ul#planner_controls li a,
        #addButton,
        #reassembleButton,
        .formbuttons input.button,
        input.button.mainaction,
        #login-form input.button,
        #login-form a.button,
        .username select.deco,
        .headers-table td a,
        #apps-menu a.app-item div.icon,
        #remote-objects-message a.button,
        .records-table tr.selected td,
        .records-table tr.unfocused td,
        .records-table tr.selected td a,
        .records-table tr.selected td span,
        .records-table tr.unfocused td a,
        .records-table tr.unfocused td span,
        #xsidebar-button,
        #plugin-ident_switch-account,
        a.iconlink,
        &.xskin #apps-menu a.app-item > div.title,
        &.xmobile .sidebar-title-text,
        &.xmobile .boxpagenav a.icon,
        &.xmobile #countcontrols a.button,
        &.xmobile #full-headers .more-headers,
        &.xmobile #message-objects div a.button,
        &.xmobile .headers-table td.header a,
        &.xmobile .ui-dialog-content.popup span.adr a,
        &.xmobile .boxfooter .listbutton span,
        &.xmobile .boxfooter .listbutton,
        &.xmobile #messagestack div,
        &.xmobile #folderlist-footer #quotadisplay,
        &.xmobile.xcalendar .editor .xtabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
            color: #{list.nth($colors, 1)};
        }

        #taskbar,
        #taskbar a,
        #taskbar a span,
        #taskbar a:before,
        #taskbar .minmodetoggle,
        .toolbar a.button,
        .toolbar .dropbutton span.dropbuttontip,
        #taskbar a.button-calendar span.button-inner,
        #taskbar a.button-calendar.button-selected span.button-inner,
        #calendar .fc-button,
        input.button,
        input[type='button'],
        #topline a,
        button.new-calendar,
        a.iconbutton,
        .boxfooter a.listbutton:before,
        #mailboxlist li.mailbox .unreadcount,
        #xsidebar .boxtitle :before,
        &.xcalendar.xlarry .calendar-list .calendar-item .edit,
        .flatpickr-confirm,
        .flatpickr-day.selected,
        &.xmobile #main-menu a,
        &.xmobile .popup-close a,
        &.xmobile .popup-box h5,
        &.xmobile #quicksearchbar .popup-close a,
        &.xmobile .popup-box #sections-table td,
        &.xmobile #mailFoldersBox a,
        &.xmobile #addressList a,
        &.xmobile .contactfieldbutton.deletebutton,
        &.xmobile .iframe a.disabled,
        &.xmobile .iframe a.active,
        &.xmobile #subscriptionTable td.name,
        &.xmobile div.buttonBox a,
        &.xmobile #mailboxlist li.mailbox a,
        &.xmobile .googie_list td span,
        &.xmobile ul.toolbarmenu li a,
        &.xmobile #taskbar a,
        &.xmobile #taskbar a.button-selected,
        &.xmobile .minimal #taskbar a,
        &.xmobile .popupmenu a,
        &.xmobile #mailboxmenulink,
        &.xmobile #quicksearchbar a.search-apply,
        &.xmobile #quicksearchbar a.search-reset,
        &.xmobile #composeheaders a.iconlink.edit,
        &.xmobile #attachment-list .delete,
        &.xmobile #attachment-list .drop {
            color: #{list.nth($colors, 1)} !important;
        }

        .xtabs.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
            border-color: #{list.nth($colors, 1)};
        }

        input.switchbox-input:checked + label.switchbox {
            border-color: #{list.nth($colors, 1)} !important;
        }

        input.switchbox-input:checked + label.switchbox,
        &.compact-message-list-preview #messagelist tr.unread:before,
        &.compact-message-list-always #messagelist tr.unread:before {
            background-color: #{list.nth($colors, 1)} !important;
        }

        #taskbar a:hover:before,
        #taskbar a:hover span,
        &.minimal #taskbar a:hover .tooltip {
            color: #{list.nth($colors, 2)} !important;
        }

        .uibox .boxtitle,
        .uibox .listing thead td,
        .uibox .listing thead th,
        .popupmenu a:hover,
        ul.toolbarmenu li a.active:hover,
        #sidebar-calendar .selected-range td a,
        #messagelistheader,
        #messageheader,
        #messagelistfooter,
        &.iframe h1.boxtitle,
        .records-table thead td,
        .records-table thead th,
        //.ui-widget-header,
        #topline,
        #composeheaders,
        #composebodycontainer .mce-panel,
        #xsidebar h2.boxtitle,
        .flatpickr-day.selected,
        &.xcalendar.xlarry #sidebar-calendar .selected-range td a,
        &.xdesktop .listbox,
        &.xdesktop:not(.xbg) ul.listing li,
        &.xmobile #main-menu a.active {
            background-color: #{list.nth($colors, 3)} !important;
        }

        .listbox .listitem.selected,
        .listbox .tablink.selected,
        .listbox .listitem.selected > a,
        .listbox .tablink.selected > a,
        .listing tbody tr.unfocused td,
        .listing tbody tr.selected td,
        .listing li.selected,
        .listing li.selected > a {
            background-color: #{list.nth($colors, 4)};
        }

        .records-table tr.selected td,
        .records-table tr.unfocused td,
        #maillistmode.selected,
        #mailthreadmode.selected,
        .buttongroup a.button.selected {
            background-color: #{list.nth($colors, 4)} !important;
        }

        #messagelist td {
            border-color: #{list.nth($colors, 4)};
        }

        .listbox .listitem,
        .listbox .tablink,
        .listing tbody td,
        .listing li,
        #mailboxlist li.mailbox ul,
        .boxtitle,
        .uibox,
        .uibox .listing thead td,
        .uibox .listing thead th,
        .listbox .boxfooter,
        #compose-contacts #directorylist,
        #compose-contacts .scroller,
        ul.listing li ul,
        .uibox.listbox,
        #calendar-grid-controller .fc-header-toolbar,
        #calendar-grid-controller td,
        #calendar-grid-controller th,
        #mailview-top,
        #mailview-bottom,
        #messagelistheader,
        #messagelistfooter,
        #messageheader,
        #mailview-right
        .records-table thead td,
        .records-table thead th,
        #topline,
        #compose-content,
        #composeheaders,
        #composebodycontainer .mce-edit-area,
        #compose-attachments,
        .contactfieldgroup legend,
        #maillistmode.selected,
        #mailthreadmode.selected,
        #messageheader a.button,
        &.iframe h1.boxtitle {
            border-color: #{list.nth($colors, 5)};
        }

        input[type='text'],
        input[type='password'],
        input[type='email'],
        select,
        .menuselector,
        #xsidebar,
        #xsidebar h2.boxtitle,
        #xsidebar div.box-wrap,
        .popupmenu,
        &.minimal #taskbar a:hover .tooltip {
            border-color: #{list.nth($colors, 5)} !important;
        }

        .boxfooter a:before,
        ul.listing li a,
        .boxfooter .countdisplay,
        #rss a
        .listbox .listitem a,
        .listbox .tablink a,
        .listing tbody td,
        .listing li a,
        .boxpagenav a.icon {
            color: #{list.nth($colors, 6)};
        }

        &.xmobile #messagestack div,
        &.xmobile #messagestack div:after {
            color: #{list.nth($colors, 6)} !important;
        }

        #quota-box {
            border-color: #{list.nth($colors, 6)};
        }

        #quota-bar {
            background-color: #{list.nth($colors, 6)};
        }

        &.xmobile #messagestack div {
            border-color: #{list.nth($colors, 7)};
        }

        &.xmobile #messagelist tr.selected,
        &.xmobile #messagelist tr.unfocused,
        &.xmobile #messagelist tr.selected td.date {
            background-color: #{list.nth($colors, 8)} !important;
        }
    }
}
