* {
    border-radius: 0 !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    background: transparent !important;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
a.button,
input.button {
    border: none !important;
}