body.login-page {
    height: 100%;
    background: #082b4f url(../images/bg.png) fixed;
    background-size: contain;
    overflow-x: hidden;
}

.login-page {
    #header #topnav #taskbar {
        background: transparent;
    }

    #header #topnav #taskbar a:hover {
        background: transparent !important;
    }

    &:not(.x2fa-code) #login-title {
        color: #fff;
    }

    .icl-icons {
        display: none;
        padding-top: 160px;
        padding-left: 260px;
        max-width: 1400px;
        margin: auto;

        img {
            margin-left: -210px;
            margin-top: -70px;
        }
    }
}

@media screen and (max-width: 1650px) {
    .login-page .icl-icons {
        padding-top: 180px;
        padding-left: 250px;
        max-width: 1200px;

        img {
            margin-left: -175px;
            margin-top: -170px;
        }
    }
}

@media screen and (max-width: 1450px) {
    .login-page .icl-icons {
        padding-left: 200px;
        max-width: 1000px;

        img {
            margin-left: -200px;
            margin-top: -170px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .login-page .icl-icons {
        padding-left: 220px;
        text-align: center;

        img {
            margin-left: -220px;
            margin-top: -170px;
        }

        .icl-icon-13 {
            display: none;
        }
    }
}

@media screen and (max-width: 939px) {
    .login-page .icl-icons {
        padding-left: 220px;

        .icl-icon-10,
        .icl-icon-11,
        .icl-icon-12,
        .icl-icon-13 {
            display: none;
        }
    }
}

@media screen and (max-width: 780px) {
    .login-page .icl-icons {
        display: none;
    }
}

.x2fa-code.skin-icloud #login-form {
    background: rgba(255, 255, 255, .7);
    min-height: auto;
    height: auto;

    .box-inner {
        color: #000;
        margin: 0;
        padding: 30px;
        width: auto;
    }

    .box-bottom {
        display: none;
    }
}

#login-form {
    position: absolute;
    z-index: 1;
    top: 41%;
    left: 0;
    right: 0;
    margin-top: -250px;
    min-height: 500px;
    padding: 0;
    color: #fff;


    h1 {
        display: none;
    }

    .box-inner {
        width: 340px;
        margin: 0 auto;
        padding: 100px 0 0 0;
        color: #5C7883;
        background: transparent !important;
    }

    form table {
        width: 100%;
    }

    form table td,
    form table td.title,
    form table td.input {
        padding: 8px 0 0 0;
        vertical-align: top;
    }

    form table td.title {
        color: #fff;
    }

    form > table:first-of-type {
        border-collapse: collapse;
    }

    form > table:first-of-type > tbody > tr > td.title,
    form > table:first-of-type > tbody > tr > td.input {
        position: relative;
        display: block;
        float: left; // needs to float, just block doesn't work on ie
        clear: both;
        width: 100%;
        text-align: left;
    }

    #rcmloginsubmit {
        background: #fff !important;
        border-radius: 5px !important;
        border: 1px solid #aaa;
        margin-top: 15px;
    }

    // task=login because the two factor authentication plugin doesn't display properly, and has a different action on the form
    form[action='./?_task=login'],
    form[action='/?_task=login'] {
        & > table:first-of-type > tbody > tr:nth-child(1) td.title,
        & > table:first-of-type > tbody > tr:nth-child(2) td.title {
            display: none !important;
        }

        & > table:first-of-type > tbody > tr:nth-child(1) td.input,
        & > table:first-of-type > tbody > tr:nth-child(2) td.input {
            padding: 0;
        }

        #rcmloginsubmit {
            display: none;
        }
    }

    td.input input[type=text],
    td.input input[type=password],
    td.input select {
        padding: 10px 18px;
        border: 1px solid #aaa !important;
        font-size: 19px;
        border-radius: 6px !important;
    }

    #rcmloginuser {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    #rcmloginpwd {
        border-top: none !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    #custom-login-submit {
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 28px;
        background: transparent;
        border: none;
        color: #111;
        cursor: pointer;
        padding: 0;
    }

    input[type=checkbox] {
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid #aaa;
    }

    p,
    p.formbuttons,
    div {
        text-align: center;
    }

    p.formbuttons {
        margin: 0;
        padding: 0;
        border: none;
    }

    .box-bottom {
        margin: 0 auto;
        padding: 20px 0 0 0;
    }

    .box-bottom #message {
        padding: 0;
    }

    .box-bottom #message div {
        font-size: 1em;
        padding-top: 3px;

        &:before {
            display: none;
        }
    }

    // plugins

    #ifplcontainer {
        padding-top: 10px;
    }

    #ifplcontainer label {
        color: #fff;
      //  font-size: $fontNormal;
    }

    #recaptcha_widget_div #recaptcha_area {
        padding: 0;
    }

}