@use "material";
@use "colors" as skin_colors;
@use "../../../../plugins/xskin/assets/styles/elastic_skins_commons";
@use "../../../../plugins/xframework/assets/styles/colors";

@include elastic_skins_commons.basic-styles;
@include elastic_skins_commons.secondary-button-styles;

body.xelastic.task-login {
    background: #efefee url(../images/login_bg.png) no-repeat;
    background-size: cover;
}

.folderlist li.mailbox .unreadcount {
    background: transparent;
    color: #333;
}

.propform legend,
.formcontent legend {
    font-weight: normal;
}

ul.treelist li.selected>div>a,
ul.treelist li.selected>a,
.listing li.selected,
.listing tr.selected td {
    background-color: #eee;
}

.header a.button.icon:not(.disabled):focus,
.header a.button.icon:not(.disabled):hover,
.toolbar .dropbutton:hover,
.toolbar a.button:not(.disabled):focus,
.toolbar a.button:not(.disabled):hover {
    background: transparent !important;
}

.floating-action-buttons a {
    border-radius: 50% !important;
}

#taskmenu {
    #xlogo-header-container {
        display: none;
    }
}

// fix the kolab calendar css that hides the text and modifies some other styles on all task menu buttons on a certain screen size
@media screen and (max-height: 750px) and (min-width: 1025px) {
    #layout-menu .popover-header img {
        width: unset !important;
    }

    #layout-menu #taskmenu {
        a {
            font-size: unset !important;
        }

        & > a[role=button],
        & > .action-buttons a.compose {
            span.inner {
                display: block;
            }
        }
    }
}

html.dark-mode {
    .listing li.selected,
    .listing li.selected>a,
    .listing li.selected>div>a,
    .listing tr.selected td {
        color: #fff;
    }
}

.searchbar a {
    color: #333;
}

#ui-datepicker-div {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
}

@media screen and (min-width: 480px) {
    .btn:not(.btn-link) {
        border: none;
        text-transform: uppercase;
        border-radius: 2px !important;
        color: #fff !important;
    }

    #taskmenu {
        a.selected,
        .action-buttons a {
            background: transparent;
            color: #fff;
        }

        a.logout {
            color: #fff !important;
        }
    }
}

@media screen and (min-width: 1025px) {

    body {
        background-color: #e5e5e5;
    }

    html.dark-mode body {
        background-color: #000;
    }

    .iframe body {
        background-color: #fff;
    }

    #xlogo-header-container {
        float: left !important;
        display: block;
        padding: 0 12px !important;
        max-width: none;
    }

    // ********** layout boxes

    #layout {
        top: 0;
    }

    #layout-sidebar,
    #layout-content,
    #layout-list,
    #layout #xsidebar {
        margin-top: 65px !important;
    }

    #xsidebar,
    #layout-content {
        margin-right: 10px !important;
    }

    body > #layout > #xsidebar {
        margin-left: 0 !important;
    }

    body > #layout-content .iframe-wrapper {
        margin-bottom: 12px;
    }

    #layout-sidebar,
    #layout-content,
    #layout-list,
    #layout #xsidebar {
        @include material.content-box;

        .iframe-wrapper,
        .scroller:not(#calendar-list-content),
        .header,
        .footer,
        .pagenav,
        #xsidebar-inner {
            background-color: transparent !important;
        }
    }

    #layout-sidebar.sidebar-right {
        border: none;
    }

    #sidebar-calendar {
        .ui-datepicker-inline,
        .ui-datepicker-header {
            background-color: transparent;
        }

        .ui-datepicker-calendar {
            border-right: none;
        }
    }

    .xcalendar-page #layout-sidebar {
        margin-left: 0;
        margin-right: 10px;
    }

    // ******** content box headers

    body > #layout > div {
         & > .header {

            .header-title {
                text-align: left;
                font-size: 1.2em;
                font-weight: normal;
                padding-left: 1rem;
                margin-left: 0 !important;

                &.username {
                    font-size: 1.1rem;
                }
            }
        }
    }

    body.settings-page > #layout > div {
        &.content .header {
            display: none !important;
        }
    }

    //********* main menu

    body > #layout {
        position: absolute;
       // top: 50px !important;
        bottom: 0;
        height: auto;

        & > #layout-menu {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 50px;
            width: 100%;
            background-color: #333;

            .popover-header {
                position: absolute;
                top: 0;
                left: 10px;
                height: 50px;
                line-height: 50px;
                padding: 0;
                background: transparent !important;

                img {
                    padding: 0;
                }
            }

            #taskmenu {
                width: 100%;
                text-align: right;

                & > a,
                & > span,
                & > span.action-buttons a,
                & > span.special-buttons a {
                    position: static;
                    display: inline-block;
                    width: auto;
                    max-width: none;
                    height: 50px;
                    //float: left;
                    color: #fff !important;
                    text-transform: uppercase;

                    span.inner {
                        font-size: 1.1rem;
                    }
                }

                & > span.action-buttons a:before,
                & > a:before {
                    display: none;
                    width: auto;
                    padding-right: 7px;
                    font-size: 1.2rem;
                    position: relative;
                    top: -2px;
                }

                & > a,
                & > span.action-buttons a,
                & > span.special-buttons a {
                    padding: 15px 0.8rem 10px 0.8rem;
                }

                & > span.special-buttons a {
                    span {
                        display: none;
                    }

                    &:before {
                        padding: 0;
                    }
                }

                & > #button-apps {
                    float: right;
                    padding-left: 12px;
                    padding-right: 12px;

                    &:before {
                        position: relative;
                        top: 1px;
                        display: block;
                        margin: 0;
                        padding: 0;
                    }
                }

                & > #show-mobile-xsidebar {
                    display: none;
                }
            }
        }
    }
}


// xcalendar

body.xcalendar.xelastic {
    #layout-content {
        border: none;

        .ui-datepicker-header {
            background: transparent !important;
            border-bottom: none;
        }

        .ui-datepicker-calendar {
            border-top: 1px solid #ddd;
        }
    }

    #layout-sidebar {
        margin-right: 10px;
        margin-left: 0;
    }
}

.layout-normal,
.layout-large {
    body.xelastic {
        #layout-content {
            .calendar-content-header {
                display: none;
            }
        }
    }
}

// xadvert

body.xadvert.xelastic {
    #xadvert-right,
    #xadvert-left {
        top: 65px;
    }
}

// cpanel webmail home button

#taskmenu a.button-cpwebmail {
    background-image: none !important;
    line-height: 1.5;
}

/* plugin: ident_switch */

#plugin-ident_switch-account {
    margin-right: 4px;
    padding: 0 4px !important;
}