#login-form {
    input.button,
    button.submit {
        background: #3F51B5;
        border: none;
        color: #fff;
    }

    .box-inner {
        padding: 0;
    }

    .box-inner form {
        padding: 10px;
    }

    #login-menu-button {
        color: #fff;
        background: #3F51B5;
    }

    select,
    input[type='text'],
    input[type='password'] {
        box-sizing: border-box;
        width: 100% !important;
        border: none !important;
        border-bottom: 1px solid #ddd !important;
        padding: 5px !important;
    }
}