#login-form {
    input.button,
    input.button:hover,
    input.button:active,
    button.submit,
    button.submit:hover,
    button.submit:active {
        background: #E9F4FF;
        border: 1px solid #BFD9F2;
        color: #2C7DCF;
    }
}

#login-menu-button {
    color: #1F75CC;
}