input.button.mainaction {
    font-weight: bold;
}

.toolbarmenu.selectable li a.selected {
    padding-left: 17px;

    &:before {
        font-family: RcpIconFont;
        font-weight: normal;
        position: absolute;
        left: -8px;
        padding-top: 3px;
    }
}

.toolbar a.button {
    border: none;
    font-size: 11px;
    padding-top: 24px;
}

.formbuttons input.button:active {
    background-image: none !important;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.buttons a.button,
input.button,
.formbuttons input.button,
input.button.mainaction,
input.button.mainaction:active,
#login-form input.button {
    color: #333;
    border: 1px solid #ddd;
}

#mainscreen {
    top: 76px;
}

#mainscreen .toolbar a:hover {
    background-color: transparent !important;
}

#messageheader a.button {
    background-color: #fff !important;
}

#messageheader a.button.selected {
    background-color: #ccc !important;
}


body.xlarry.xskin .mailbox > a:before {
    display: none;
}

/* layout */

#topline,
#topline, .minimal #topline,
#topnav {
    background: #fff;
}

#topnav,
.minimal #topnav {
    padding: 5px 0 0 0;
    height: 34px;
    margin: 0;
    background: #fff;
    border-bottom: 2px solid #ddd;
    top: 0;
}

#topnav img {
    position: absolute;
    left: 8px;
    top: -6px;
}

#taskbar a,
.minimal #taskbar a,
#taskbar #interface-options-button {
    display: inline-block;
    height: 20px;
    padding: 8px 8px 4px 0;
    margin: 1px 5px 0 0;
    border: 1px solid #ddd;
    border-bottom: none;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    float: left;
}

.minimal #taskbar {
    .button-logout {
        padding-right: 6px !important;
    }

    .button-apps,
    .button-help {
        padding-right: 4px !important;
    }
}

#taskbar a.button-selected {
    height: 22px;
    border: 2px solid #ddd;
    border-bottom: none;
    margin-top: 0;
}

#header #topnav #taskbar a.button-selected {
    background-color: #fff !important;
}

#taskbar a:hover {
    background-color: transparent;
}

#taskbar a span.button-inner {
    font-size: 100%;
    font-weight: bold;
    text-shadow: none;
    padding: 0 0 0 34px;
    height: 19px;
    color: #333;
}

#header {
    min-height: 60px;
}

.minimal #taskbar a:hover .tooltip {
    top: 32px;
}

select.deco {
    font-size: 1em;
}

#mailboxlist li.mailbox .unreadcount,
#mailboxlist li.mailbox.selected > a .unreadcount {
    background: #fff;
    border-radius: 5px !important;
    color: #333;
    font-weight: normal;
}

.boxfooter .listbutton {
    padding: 0;
    margin: 0;
}

#quotadisplay {
    top: 8px;
}

table.quota-info td,
table.quota-info th {
    color: #333;
}

.uibox .boxtitle,
.uibox .listing thead td,
.uibox .listing thead th {
    color: #333 !important;
}

.iframebox {
    border: none;
}

input.button,
.formbuttons input.button,
input.button.mainaction,
#login-form input.button {
    border: 1px solid #ddd;
    color: #333;
    background: #eee;
}

input[type=text],
input[type=password],
input[type=email]
input[type=button],
textarea {
    border: 1px solid #ddd;
    color: #333;
}

.contentbox .boxtitle,
body.iframe .boxtitle,
.contactfieldgroup legend {
    background: #fff;
}

.records-table.fixedheader {
    border-bottom: 1px solid #ddd;
}

.records-table thead td,
.records-table thead th {
    font-weight: normal;
    color: #333;
}

.records-table tbody td {
    border: none;
    border-bottom: 1px solid #eee;
}

.records-table tbody tr td:first-child {
    border-left: none !important;
}

.records-table tbody tr td:last-child {
    border-right: none !important;
}

.records-table thead td a,
.records-table thead th a,
.records-table thead td span,
.records-table thead th span,
.records-table thead td div,
.records-table thead th div,
.records-table thead tr td.sortedASC a,
.records-table thead tr th.sortedASC a,
.records-table thead tr td.sortedDESC a,
.records-table thead tr th.sortedDESC a {
    color: #333 !important;
}

.boxpagenav {
    a.icon {
        visibility: visible;
        padding: 1px 3px;
    }
}

#listselectors {
    margin-top: 2px;
}

#messageheader {
    border: none;
    border-bottom: 1px solid #ddd;
}

.toolbar .spacer {
    display: none;
}

#compose-attachments {
    border-top: none;
    border-bottom: none;
    border-right: none;
}

#composebuttons a.button.extwin {
    background: #fff !important;
}

#compose-contacts .boxfooter a span {
    width: auto;
    height: auto;
    padding: 10px;
}

// fix cut text on firefox
.headers-table.compose-headers textarea {
    height: 1.4em !important;
}

#messagelistfooter,
.searchbox input,
#quicksearchbar input {
    background: transparent;
}

#messagelistfooter #listcontrols a {
    position: relative;

    &:before {
        top: 2px;
    }
}

.messagelist tbody td a,
.messagelist tbody td {
    color: #525252;
}

.boxfooter .listbutton {
    border: none;
}

#mailboxlist .mailbox a:before {
    display: none !important;
}

#vertical-preview {
    border: 1px solid #ddd;
}

ul.listing li {
    background-color: transparent !important;
}

.popupmenu:not(#listoptions-menu) ul li a span {
    background-image: none;
}

/* plugins */

#pluginbody .boxcontent {
    border: none;
}

#taskbar a.button-calendar span.button-inner,
#taskbar a.button-calendar.button-selected span.button-inner {
    background-color: transparent;
}

#todaybutton input {
    color: #333 !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

ul#planner_controls li a {
    color: #333;
    border: 1px solid #ddd;
}

#taskviewmenu .toolbarmenu a.icon span {
    background-image: none;
}

.googie_list td span, ul.toolbarmenu li a.active {
    color: #000;
}

.googie_list td {
    padding: 0;
    border: none;
    border-bottom: 1px solid #ddd;
}

.googie_list td.googie_list_onhover {
    background: #E9E9E9;
}

.googie_list form {
    padding: 6px !important;
}

.googie_list form img {
    background: #6b6b6b;
    padding: 1px 3px 2px 3px;
    float: right;
}

/* fix background images to point to ours */

#taskbar a:before,
#topnav a.button-interface-options:before,
.toolbar a.button:before,
.dropbutton .dropbuttontip:before,
#mailboxlist div.expanded:before,
#mailboxlist div.collapsed:before,
#subscription-table div.expanded:before,
#subscription-table div.collapsed:before,
.boxfooter .listbutton:before,
.toolbar a.button.scheduled_sending:before,
#calendartoolbar .addevent:before,
#calendartoolbar .refresh:before,
#taskstoolbar .button.newtask:before,
#taskstoolbar .button.refresh:before,
#helptoolbar a.button.help:before,
#helptoolbar a.button.about:before,
#helptoolbar a.button.license:before,
#carddavsyncbut:before,
#tb_label_popuplink:before,
#calendar .fc-button-agendaDay .fc-button-inner:before,
#calendar .fc-button-agendaWeek .fc-button-inner:before,
#calendar .fc-button-month .fc-button-inner:before,
#calendar .fc-button-table .fc-button-inner:before {
    content: "" !important;
    display: none !important;
}

#taskbar a span.button-inner,
#messagetoolbar.toolbar a.button,
#addressbooktoolbar.toolbar a.button,
.dropbutton .dropbuttontip,
#taskbar .minmodetoggle,
.boxfooter .listbutton .inner,
.pagenav a.button span.inner,
#mailpreviewtoggle,
.toolbar a.button,
a.iconbutton {
    background-image: url(../images/buttons.png);
}

#mailboxlist li.mailbox a,
ul.treelist li div.treetoggle,
#sections-table tbody td.section,
#settings-sections span.listitem a,
#settings-sections li.listitem a,
#settings-sections span.tablink a,
#settings-sections li.tablink a,
#compose-contacts li a,
.folderlist li.mailbox a,
/* .messagelist thead tr td.sortedASC a, */
/* .messagelist thead tr td.sortedDESC a, */
.messagelist tr td div.collapsed,
.messagelist tr td div.expanded,
.messagelist tr td.threads div.listmenu,
.messagelist tr td.attachment span.attachment,
.messagelist tr td.attachment span.report,
.messagelist tr td.priority span.priority,
.messagelist tr td.priority span.prio1,
.messagelist tr td.priority span.prio2,
.messagelist tr td.priority span.prio3,
.messagelist tr td.priority span.prio4,
.messagelist tr td.priority span.prio5,
.messagelist tr td.flag span.flagged,
.messagelist tr td.flag span.unflagged,
.messagelist tr td.flag span.unflagged:hover,
.messagelist tr td.status span.status,
.messagelist tr td.status span.msgicon,
.messagelist tr td.status span.deleted,
.messagelist tr td.status span.unread,
.messagelist tr td.status span.unreadchildren,
.messagelist tr td.subject span.msgicon,
.messagelist tr td.subject span.deleted,
.messagelist tr td.subject span.unread,
.messagelist tr td.subject span.replied,
.messagelist tr td.subject span.forwarded,
.messagelist tr td.subject span.unreadchildren,
#folder-selector li a span,
ul.toolbarmenu li span.icon,
#directorylist li a,
#contacts-table .contact td.name,
#compose-contacts li a {
    background-image: url(../images/listicons.png);
}

a.menuselector .handle { background-image: url(../images/selector.png); }
/*.splitter { background-image: url(../images/splitter.png); }*/

/* buttons included in the roundcube button sprite */

#taskbar a.button-mail span.button-inner { background-position: 0 2px !important; } /* we don't want to change images on hover, so !important */
#taskbar a.button-addressbook span.button-inner { background-position: 0 -48px !important; }
#taskbar a.button-settings span.button-inner { background-position: 0 -96px !important; }
#taskbar a.button-calendar span.button-inner { background-position: 0 -144px !important; }

#messagetoolbar a.markasjunk2,
#messagetoolbar a.markasnotjunk2,
#messagetoolbar a.markasjunk2Sel,
#messagetoolbar a.markasnotjunk2Sel,
#messagetoolbar a.junk,
#messagetoolbar a.notjunk {
    background-position: center -770px;
}

#messagetoolbar a.markasnotjunk2Sel:before {
    content: "" !important;
}

#taskbar a.button-sticky_notes,
#taskbar a.button-planner,
#taskbar a.button-nabble {
    background: transparent;
}

#taskbar a.button-interface-options {
    width: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}

#interface-options {
    color: #333;
}

/* buttons added as separate png images */

#topline a.button-logout { background: url(../images/icon-logout-min.png) no-repeat !important; }
#taskbar a.button-logout span.button-inner { background: url(../images/icon-logout.png) 8px 0 no-repeat !important; }
#taskbar a.button-help span.button-inner { background: url(../images/icon-help.png) 8px 0 no-repeat !important; }
#taskbar a.button-sticky_notes span.button-inner { background: url(../images/icon-notes.png) 8px 0 no-repeat !important; }
#taskbar a.button-tasklist span.button-inner { background: url(../images/icon-tasks.png) 8px 0 no-repeat !important; }
#taskbar a.button-planner span.button-inner { background: url(../images/icon-planner.png) 8px 0 no-repeat !important; }
#taskbar a.button-nabble span.button-inner { background: url(../images/icon-nabble.png) 8px 0 no-repeat !important; }
#taskbar a.button-jappix4roundcube span.button-inner { background: url(../images/icon-jappix.png) 8px 0 no-repeat !important; }
#taskbar a.button-interface-options { background-image: url(../images/icon-interface.png) !important; }
#taskbar a.button-xresell span.button-inner { background: url(../images/icon-apps.png) 8px 0 no-repeat !important; }
#taskbar a.button-apps span.button-inner { background: url(../images/icon-apps.png) 8px 0 no-repeat !important; }

#messagetoolbar a.vcard_send { background: url(../images/toolbar-vcard.png) center 5px no-repeat !important; }
#calneweventbut { background: url(../images/toolbar-calendar-add.png) center 5px no-repeat !important; }
#calswitchbut { background: url(../images/toolbar-calendar-users.png) center 5px no-repeat !important; }
#calexportbut { background: url(../images/toolbar-calendar-export.png) center 5px no-repeat !important; }
#calimportbut { background: url(../images/toolbar-calendar-import.png) center 5px no-repeat !important; }
#calprintprevbut { background: url(../images/toolbar-calendar-print.png) center 5px no-repeat !important; }
#message-list-sort { background: url(../images/toolbar-sort.png) center 5px no-repeat !important; }

.toolbar a.button.enigma,
.toolbar a.button.encrypt { background: url(../images/toolbar-enigma.png) 50% 4px  no-repeat !important; }

#tb_label_popuplink  { background: url(../images/toolbar-thunderbird-labels.png) 50% 6px  no-repeat !important; }
#messagetoolbar.toolbar a.tb-label { background: url(../images/toolbar-thunderbird-labels.png) 50% 6px  no-repeat !important; }

#keystoolbar a.button.import { background: url(../images/toolbar-key-import.png) 50% 4px  no-repeat !important; }
#keystoolbar a.button.export { background: url(../images/toolbar-key-export.png) 50% 4px  no-repeat !important; }

/* settings links */

#sections-table #rcmrowxai td.section {
    background-image: url(../images/settings-ai.png) !important;
    background-position: 10px center !important;
}
#sections-table #rcmrowcalendarlink td.section {
    background-image: url(../images/settings-calendar.png) !important;
    background-position: 10px center !important;
}
#sections-table #rcmrowmh_preferences td.section {
    background-image: url(../images/settings-highlights.png) !important;
    background-position: 10px center !important;
}
#sections-table #rcmrownabblelink td.section {
    background-image: url(../images/settings-nabble.png) !important;
    background-position: 10px center !important;
}
#sections-table #rcmrowplugin_manager td.section {
    background-image: url(../images/settings-plugins.png) !important;
    background-position: 10px center !important;
}
#sections-table #rcmrowaccountlink td.section {
    background-image: url(../images/settings-admin.png) !important;
    background-position: 10px center !important;
}
#sections-table #rcmrowapps td.section {
    background-image: url(../images/settings-apps.png) !important;
    background-position: 10px center !important;
}
#sections-table #rcmrowenigma td.section {
    background-image: url(../images/toolbar-enigma.png) !important;
    background-position: 10px center !important;
}
#sections-table #rcmrowthunderbird_labels td.section {
    background-image: url(../images/settings-thunderbird-labels.png) !important;
    background-position: 10px center !important;
}
#sections-table #rcmrowencryption td.section {
    background-image: url(../images/settings-encryption.png) !important;
    background-position: 10px center !important;
}
#settings-sections .enigma.keys a {
    background-image: url(../images/settings-pgp.png) !important;
    background-position: 10px center !important;
}

/* xsidebar */

#xsidebar-button {
    border: none;
}

#sections-table #rcmrowxsidebar td.section {
    background-image: url(../images/settings-sidebar.png) !important;
    background-position: 8px 5px !important;
}

/* xweather */

#sections-table #rcmrowxweather td.section {
    background-image: url(../images/settings-weather.png) !important;
    background-position: 10px center !important;
}

/* xcalendar */

.xcalendar .ui-datepicker .ui-datepicker-header {
    background: #ddd;
}

#xcalendar-toolbar .button.calendar-day { background: url(../images/calendar-day.png) center 5px no-repeat; }
#xcalendar-toolbar .button.calendar-week { background: url(../images/calendar-week.png) center 5px no-repeat; }
#xcalendar-toolbar .button.calendar-month { background: url(../images/calendar-month.png) center 5px no-repeat; }
#xcalendar-toolbar .button.calendar-agenda { background: url(../images/calendar-agenda.png) center 5px no-repeat; }
#xcalendar-toolbar .button.calendar-search { background: url(../images/calendar-search.png) center 5px no-repeat; }
#xcalendar-toolbar .button.calendar-add-event { background: url(../images/calendar-create-event.png) center 5px no-repeat; }
#xcalendar-toolbar .button { padding-top: 24px !important; }

.xcalendar .ui-datepicker .ui-datepicker-month,
.xcalendar .ui-datepicker .ui-datepicker-year,
.xcalendar .ui-datepicker .ui-datepicker-prev,
.xcalendar .ui-datepicker .ui-datepicker-next,
.xcalendar .fc-state-default,
.xcalendar .boxtitle button {
    color: #333 !important;
    text-shadow: none;
}

/* xai */

#messagetoolbar a.button.xai-compose { background: url(../images/xai.png) center 5px no-repeat; }

/* xemail schedule */

#messagetoolbar a.button.scheduled { background: url(../images/schedule.png) center 5px no-repeat; }

#sections-table #rcmrowxemail_schedule td.section {
    background-image: url(../images/settings-email-scheduler.png) !important;
    background-position: 10px center !important;
}

/* look & feel */

#sections-table #rcmrowxskin td.section {
    background-image: url(../images/settings-skin.png) !important;
    background-position: 8px 5px !important;
}

/* xrss */

#sections-table #rcmrowxnews_feed td.section {
    background-image: url(../images/settings-rss.png) !important;
    background-position: 8px 5px !important;
}

/* xwebdav */

#sections-table #rcmrowxwebdav td.section {
    background-image: url(../images/settings-webdav.png) !important;
    background-position: 8px 5px !important;
}

/* xbackground */

#sections-table #rcmrowxbackground td.section {
    background-image: url(../images/settings-background.png) !important;
    background-position: 10px center !important;
}

body.xskin.xbg {
    .folderlist li.mailbox a {
        background-repeat: no-repeat;
    }

    .uibox .boxtitle,
    &.iframe h1.boxtitle,
    .records-table thead th a,
    #taskbar a.button-selected {
        background: transparent !important;
    }

    #taskbar a.button-selected {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        height: 20px;
    }
}

/* plugin: ident_switch */

#plugin-ident_switch-account {
    border: none;
    margin-top: 6px !important;
    float: left;
    font-size: 110%;
}

/* plugin: return_to_webmail (cpanel) */

#taskbar a.button-cpwebmail span.button-inner {
    padding: 0 0 0 34px;
    font-weight: bold;
    background-size: 20%;
    background-position-y: 0;
    background-position-x: 5px;
}