<?php
/**
 * Roundcube Plus News Feed plugin.
 *
 * Copyright 2016, Tecorama LLC.
 *
 * @license Commercial. See the LICENSE file for details.
 */

// The title of the default RSS feed. The users will be able to change this value in Settings / News feed.
$config['xnews_feed_title'] = "BBC World";

// The url of the default RSS feed. The users will be able to change this value in Settings / News feed.
$config['xnews_feed_url'] = "http://feeds.bbci.co.uk/news/world/rss.xml";

// The default number of items to display. The users will be able to change this value in Settings / News feed.
$config['xnews_feed_count'] = 10;

// Predefined items appear in the drop-down combo box on the settings page. The user can select the
// items to fill the news feed title and url text boxes. Set this value to false if you'd like to use
// the default predefined item list. If you'd like to provide your own list, specify the value in this format:
//
// array(url=>title, url=>title...)
//
// Example:
//
// $config['xnews_feed_predefined'] = array(
//     "http://online.wsj.com/xml/rss/3_7687.xml" => "The Wall Street Journal",
//     "http://www.repubblica.it/rss/homepage/rss2.0.xml" => "La Repubblica",
// );
//
// If you'd like to divide the list into sections, say, by languages or subjects, specify the value in this format:
// (This format will not display properly in Roundcube 1.4, since select boxes in that version don't support grouping.)
//
// array(section=>array(url=>title, url=>title), section=>array(url=>title, url=>title)...)
//
// Example:
//
// $config['xnews_feed_predefined'] = [
//     "English" => [
//         "http://feeds.bbci.co.uk/news/world/rss.xml" => "BBC World",
//         "http://www.nasa.gov/rss/dyn/breaking_news.rss" => "NASA Breaking News",
//     ],
//     "Español" => [
//         "http://online.wsj.com/xml/rss/3_7687.xml" => "The Wall Street Journal",
//     ],
// ];
$config['xnews_feed_predefined'] = false;