@use "sass:list";
@use "../../../../plugins/xframework/assets/styles/colors";
@use "../../../../plugins/xskin/assets/styles/elastic_skins_commons";

$map: (
    (#df5aad, #df3ba3, #ed6fbd, #eda7d0, #ffe9f6),
    (#b0263b, #8d1a30, #be364b, #d28f98, #ffe9ec),
    (#d74c1b, #d73a0a, #e35b2b, #e38e70, #ffeee8),
    (#ff9022, #ff7810, #fe9834, #feba79, #fff2e5),
    (#83b600, #6d9e00, #92c709, #b4c777, #f9ffe9),
    (#00860e, #006e0e, #089817, #7aad76, #eeffef),
    (#00b2b3, #009b9c, #03c3c4, #6cc4c1, #ebfeff),
    (#00829a, #006b81, #0790a9, #6b99a9, #ebfbff),
    (#47b4ff, #2da3ff, #5bbcff, #9ed0ff, #e8f5ff),
    (#0075c8, #0063b5, #138be1, #75abe1, #e8f5ff),
    (#3c2cb6, #301c7a, #4f40c4, #7c7ac4, #ece9ff),
    (#8d2297, #740a82, #ac3cb6, #b085b6, #fdecff),
    (#004e8d, #003f7c, #0c60a4, #7a99c1, #e8f5ff),
    (#001b41, #001a34, #00265b, #718196, #e9f2ff),
    (#5a0600, #3d0600, #78130c, #a36e6e, #ffe8e7),
    (#3a0300, #3a0300, #67100c, #b57678, #ffeae9),
    (#585858, #414141, #767676, #a4a4a4, #f0f0f0),
    (#000000, #000000, #3f3f3f, #929292, #f0f0f0)
);

@each $row in $map {
    $base: list.nth($row, 1);
    $dark: list.nth($row, 2);
    $light: list.nth($row, 3);
    $lighter: list.nth($row, 4);
    $lightest: list.nth($row, 5);
    $key: colors.color-to-hex($base);

    .xcolor-#{$key} {
        @include elastic_skins_commons.primary-button-colors($base);
        @include elastic_skins_commons.switchbox-colors($base);
        @include elastic_skins_commons.anchor-colors($base);
        @include elastic_skins_commons.input-colors($base);
        @include elastic_skins_commons.listing-colors($lightest, false, false, #c5d1d3);
        @include elastic_skins_commons.logo-background-color($base, $base);
        @include elastic_skins_commons.unread-count-colors($light, $light, #fff, #fff);
        @include elastic_skins_commons.datepicker-colors($base, $base);

        div.header:not(.calendar-list-header),
        div.header:not(.calendar-list-header) a,
        div.header .toolbar.open,
        .floating-action-buttons a.button,
        &.xsidebar-mobile-visible #xsidebar #xsidebar-mobile-header {
            background-color: $base !important;
        }
    }

    html.dark-mode:not(.touch) .xcolor-#{$key} ::-webkit-scrollbar-thumb {
        background-color: $base;
    }
}