* {
    border-radius: 0 !important;
}

#remote-objects-message a.button {
    border-width: 1px !important;
    border-style: solid !important;
}

body div.ui-dialog div.ui-dialog-titlebar button.ui-dialog-titlebar-close {
    background-color: transparent !important;
    border: none !important;

    &:hover {
        background-color: transparent !important;
    }
}

#searchmenulink,
#searchreset,
#maillistmode,
#mailthreadmode {
    &:before {
        display: none;
    }
}

.menuselector {
    &:after {
        display: none;
    }
}

/* flatpickr (datetime picker) */

.flatpickr-confirm {
    margin: 5px;
    height: auto;
}