#main-menu,
.popup-box .popup-close {
    background: transparent !important;
    border-bottom: 1px solid #aaa;
    height: auto;
    min-height: 40px;
}

.popup-box .popup-close {
    height: 48px;
}

#main-menu a {
    padding: 5px !important;
    margin: 5px;
    border: 1px solid #ddd !important;
}

.popup-close a,
.popup-box h5 {
    color: #aaa !important;
    margin-bottom: 0;
}

body .popup-box .popup-close {
    -webkit-box-shadow: inset -6px 0 6px -4px #9a9a9a !important;
    box-shadow: inset -6px 0 6px -4px #9a9a9a !important;
}

#composeheaders,
#compose-contacts,
#all-headers {
    background: transparent !important;
}

.boxfooter span {
    color: #fff;
}
#taskbar span {
    color: #333 !important;
}

input[type='button'],
#mailFoldersBox a,
#addressList a,
.contactfieldbutton.deletebutton,
.iframe a.active,
#subscriptionTable td.name,
div.buttonBox a,
#message-objects div a.button,
input.button.mainaction,
input.button.mainaction:active {
    border: 1px solid #ddd;
}

.records-table thead tr th {
    color: #333;
}


#xes-countdown-box button {
    border-width: 1px;
}